[2018-09-11 08:33] sag1v opened #1 "focusOnSelect should not transition last items to first position"
![alt text](https://imageshack.com/a/img921/3336/irid3u.jpg)

[2018-09-11 18:19] #1 closed

[2018-09-11 18:30] sag1v opened #2 "update selected pagination only after transition end"

[2018-09-11 19:15] #2 closed

[2018-09-11 22:05] sag1v opened #3 "onNextStart not called when swiped"

[2018-09-11 22:25] sag1v opened #4 "support vertical layout"

[2018-09-12 11:12] sag1v opened #5 "onResize is not always called with the new breakpoint"

[2018-09-12 11:13] #5 closed

[2018-09-15 06:05] sag1v commented on #4
fix with 2fc71370f8e43ec0f4e483fdad2ba97e62cee189

[2018-09-15 06:05] sag1v commented on #4
resolved with 2fc71370f8e43ec0f4e483fdad2ba97e62cee189

[2018-09-15 06:05] #4 closed

[2018-09-15 12:22] sag1v opened #8 "add support for custom pagination"

[2018-09-15 13:30] #8 closed

[2018-10-20 22:08] oyeanuj opened #9 "Infinite looping of children"
Hi @sag1v, thank you for creating this library!

**Describe the solution you'd like**
I'd love to be able to loop through to the first item, if I click on "next" from the last item, so creating an infinite loop of the children.

**Describe alternatives you've considered**
Maybe using an event handler to see if this is the last child, in which case `onNext` can call `goTo` with the first slide inde

[2018-10-20 22:39] sag1v commented on #9
@oyeanuj Thanks.
This could be a great addition to `react-elastic-carousel` indeed!

This is a relatively easy thing to do, however I think with this approach we will get a "backwards" animation and it won't feel like an infinite loop.

![rca loop](https://user-images.githubusercontent.com/9153149/47261104-51c63e00-d4d1-11e8-8548-a89ce8d963aa.gif)

I think we should add copies or move slides to th

[2018-10-21 21:28] oyeanuj opened #10 "Lazy loading?"
**Is your feature request related to a problem? Please describe.**
I'm using the carousel for showcasing some posts, and would like to lazy load to not make the page be bombarding requests.

**Describe the solution you'd like**
 I'm wondering if that is possible with the current props in the library, if it should be part of the library or if there is a specific way non-library way that you'd recom

[2018-10-22 13:05] sag1v commented on #10
Sounds interesting, so you mean instead of passing portion of the children to `react-elastic-carousel` you suggests that the library will render just the visible items (maybe with 1 or more on start and end positions)?

[2018-10-22 15:19] sag1v commented on #10
FYI, you can do it yourself outside the library.
Just pass the number of items you want, and add more items  with the `onNextStart` hook.

See [example](https://codesandbox.io/s/xpkkpnj91p)

**Code snippet:**

[code]
I'm closing this issue as it is doable outside the library.
If you think this should be re-opened feel free to re-open the issue and elaborate on the challenge.

[2018-10-22 15:19] #10 closed

[2018-10-22 19:10] oyeanuj commented on #10
@sag1v Oh, that's really interesting technique. I didn't think of using `onNextStart`. The only challenge that I can now see is that if you are having multiple elements in view at any given time, then you might have to do some duplicate responsive calculation based on the width, to determine how many to add to the carousel.

For example, if we start with 5 elements for the widest case, we might be

[2018-10-22 19:17] sag1v commented on #10
You can can get the current `breakPoint` with the `onResize` hook. https://sag1v.github.io/react-elastic-carousel/#/onResize

[2018-10-27 15:44] garth opened #11 "Add compatability for styled-components 4"
**Is your feature request related to a problem? Please describe.**

`styled-components` 4 has changed they way refs are retrieved.

Since `react-elastic-carousel` uses `styled-components` 3, it's not currently possible to use `react-elastic-carousel` within a project that depends on `styled-components` 4.

**Describe the solution you'd like**

Either update `styled-components` or remove it as a de

[2018-10-27 16:43] sag1v commented on #11
Thank you.
Done with in [v0.2.0](https://github.com/sag1v/react-elastic-carousel/commit/d189c925e67b44db05df66d4c0eb5da48800f3cd).
Can you confirm its working well for you?

[2018-10-27 18:37] garth commented on #11
@sag1v it works great, thanks for the fast turnaround!

[2018-10-27 18:41] #11 closed

[2019-02-23 04:35] gfunk1230 opened #12 "How can I style the indicators when active and not active state."
I was wondering how I can style the indicators on the carousel. I see I can style the indicator itself by using the classname .rec.rec-dot but I was wondering how can i change the style of the indicator when its active? Thanks

[2019-02-23 04:35] gfunk1230 commented on #12
![image](https://user-images.githubusercontent.com/6556242/53281664-97527c00-36fa-11e9-9178-b6b02760e7a6.png)

[2019-02-23 04:36] gfunk1230 commented on #12
@sag1v Hope that makes sense hopefully can be done. thanks

[2019-02-23 07:33] sag1v commented on #12
@gfunk1230 As you can see [here](https://github.com/sag1v/react-elastic-carousel/blob/master/src/react-elastic-carousel/components/Pagination/Dot.js#L39) we are not adding an `active` class.
A possible change might be something like this:
[code]
Or, you can just create your own pagination indicator. you can see more details about it [here](https://sag1v.github.io/react-elastic-carousel/#/renderPag

[2019-02-24 04:47] gfunk1230 commented on #12
@sag1v awesome! thanks so much for the quick reply

[2019-02-24 05:25] sag1v commented on #12
@gfunk1230 Do you want to PR with this change?

[2019-02-25 14:40] sag1v commented on #12
@orensurf

[2019-02-27 01:37] gfunk1230 commented on #12
@sag1v just to be clear you would like me to create this enhancement myself and commit a PR for it?

[2019-02-27 01:43] gfunk1230 commented on #12
@sag1v if so it seems like the suggested above should be easy to implement.

``js
<Dot
  onClick={this.onClick}
  active={active}
  className={`${cssPrefix("dot")} ${active ? cssPrefix("dot_active") : '' }`}
/>

[2019-02-27 02:05] gfunk1230 commented on #12
@sag1v any chance you can make that update actually since i am getting failing test when trying to commit the PR. It would be greatly appreciated.

![image](https://user-images.githubusercontent.com/6556242/53460189-40a2b600-3a0a-11e9-888c-a9273424a183.png)

[2019-02-27 08:59] sag1v commented on #12
Interesting, i saw [this issue](https://github.com/facebook/jest/issues/6393). I will try to check it later on.

[2019-02-28 17:51] sag1v opened #13 "tests are failing with - TypeError: environment.teardown is not a function"
**Describe the bug**
tests are failing and throwing:
[code]

**To Reproduce**
run `npm run test`

**Screenshots**
![53460189-40a2b600-3a0a-11e9-888c-a9273424a183](https://user-images.githubusercontent.com/9153149/53587075-2267c200-3b92-11e9-9b3d-c281bd99e97b.png)

**Additional context**
Seems relevant to [this](https://github.com/facebook/jest/issues/6393)

[2019-02-28 18:20] #13 closed

[2019-02-28 18:22] sag1v commented on #12
@gfunk1230 Indeed there was a problem with `jest-cli` i did `npm uninstall jest-cli` and tests are running fine now. see #13
You can pull the latest changes i made and try it yourself, and of course commit the PR. :smile:

[2019-03-26 20:06] sag1v commented on #12
@orensurf You can try now, i switched to yarn instead of npm because npm has some issues with linked dependencies.
1. Get my latest commits from master ([git pull](https://help.github.com/en/articles/fetching-a-remote))
2. Delete `node_modules`
3. Run `yarn`
4. Then run `yarn docz:dev` to run the app.

[2019-03-27 08:00] #12 closed

[2019-09-13 14:33] WassimHakim opened #22 "Current Item"
Why doesn't the current item have a custom class. if we can add it when navigating, how can we do that?

[2019-09-13 16:35] sag1v commented on #22
You can do it by tracking the current active item yourself via the the change handlers.
For example `onNextEnd` and `onPrevEnd`.
See the [docs](https://sag1v.github.io/react-elastic-carousel/#/onNextEnd) for more details.

here is a [running example](https://codesandbox.io/s/react-elastic-carousel-z0rjw)

Here is a sample gist:
[code]

I'm going to close this as its not a bug or a feature request,

[2019-09-13 16:35] #22 closed

[2019-09-17 11:29] WassimHakim commented on #22
It worked thanks. One more question, how do we configure an infinite loop on it?

[2019-09-17 13:50] sag1v commented on #22
Infinite loop is not supported yet see #9 , i didn't have much time to work on it. PR is welcome.

[2019-11-22 07:19] sanishkr opened #23 "How do I get rid of / update the style "margin: 0 10px;" which is a part of SliderContainer.js"
First of all, thanks for making this package.
I think I am gonna use it in my production if all features required in my org are fulfilled.

Also, great that you have used styled-components.

Maybe make it(margin) as a prop or remove it as we can introduce our style in its parent.

[2019-11-22 08:03] sanishkr opened #24 "How do I style the dots at the bottom?"
I am trying to use renderPagination, but I will have to pass a whole new component.
I only want to change the styles of the dots at the bottom. Any way to do that or can you introduce new props?

[2019-11-22 08:12] sanishkr opened #25 "Switch to the new attrs(props => ({})) syntax instead for easier and more powerful composition."
Warning:

[code]

Resolution required in 2 files:

1. In Poster.js

[code]
2. In ItemWrapper.js

[code]

[2019-11-24 07:31] sag1v commented on #23
Most if not all containers and elements has a public CSS class that exposed to the consumer, so you can override or add any styling you like.
In your case, you can override it via the `.rec-slider-container` class name.

[2019-11-24 07:31] #23 closed

[2019-11-24 07:33] sag1v commented on #24
Quoting from #23

In this case you can use the `rec-pagination` and `rec-dot` class names.

[2019-11-24 07:36] sag1v commented on #25
Thank you, These files are not part of the library but part of the docs, but i would love it if you could create a PR with the fix if you are up for it 🙂

[2019-11-25 08:08] sanishkr commented on #24
Thanks for the response. If I apply styles to those public classes, inline critical css will not be generated for it which is an important requirement for my project.

For styled-components declared css, critcal css is automatically generated.
For now, I am trying a different approach for both issues #23 and #22

[2019-11-25 08:09] sanishkr commented on #25
I will do it as soon as I get some time. Thanks.

[2019-11-25 08:10] sag1v commented on #24
Not sure i understand your issue, can you post an example in [codesandbox](https://codesandbox.io)?

[2019-11-25 08:26] sanishkr opened #26 "variableWidth for Slider"
**Is your feature request related to a problem? Please describe.**
I am trying to display more than one (<2) items in the carousel which is a quite common trend nowadays. This is very similar to [variableWidth](https://react-slick.neostack.com/docs/example/variable-width) feature in react-slick. An example [sandox link](https://codesandbox.io/s/rough-wave-xyg9m?fontsize=14&hidenavigation=1&theme=d

[2019-12-07 19:37] sanishkr commented on #25
I have sent a PR. Please check

[2019-12-08 07:37] #25 closed

[2019-12-08 07:38] sag1v commented on #25
@sanishkr Thanks!

[2019-12-13 05:47] sanishkr commented on #25
Hi @sag1v , thanks for merging the PR. Can you please make an NPM release with this? It keeps giving long warning messages in console while running.

[2019-12-15 07:33] sag1v commented on #25
@sanishkr No need for an NPM release as its only used in the documentations, I did however re-published the docs. So now you should not see the warnings anymore.
If you still see warnings let me know.
With that said, Now we have a different issue that some examples are broken due to `Docz` new version.

[2019-12-15 07:39] sag1v opened #28 "Upgrade and fix docz - some examples are broken"
After re-publish the docs (due to #25), some examples are broken - like [slideNExt](https://sag1v.github.io/react-elastic-carousel/#/slideNext) and [goTo](https://sag1v.github.io/react-elastic-carousel/#/goTo). I think its because these examples use a `ref` and something on `docz` is broken. Need to consider bumping `docz` to a newer version which might changed the API.

[2019-12-17 21:10] sanishkr commented on #25
I still get those warnings, not in the build of this repo, but while using it as an npm package in my project. I don't think that will go away without a new npm release.

[2019-12-18 10:21] sag1v commented on #25
@sanishkr You are right I'm sorry! I just noticed you also changed the `ItemWrapper` which is indeed used by the library. I published it under version `0.3.1`.
Thanks for the help :)

[2019-12-19 05:22] sanishkr commented on #25
Happy to help. Thanks for quick publish, @sag1v  👍

[2020-01-24 23:03] #28 closed

[2020-02-12 06:24] sanishkr opened #31 "Fix for styled-components v5.0.0"
**Describe the bug**
Breaks for newer version of `styled-components`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-elastic-carousel-fusb6
2. Update styled-components to > 4.4.1, eg: 5.0.0

**Expected behavior**
Should work as it is.

**Additional context**
Even if we update `react` and `react-dom` to latest versions, it gives something like this.
<img w

[2020-02-15 14:22] sag1v commented on #31
Thanks for pointing that out, this is very helpful!

`styled-components` changed their API regarding attributes (including `style`).  We will support `styled-components` v5 on next major (with some new features).

Currently we support version 4.x.x as you can see in [package.json](https://github.com/sag1v/react-elastic-carousel/blob/master/package.json#L31)

[2020-02-15 20:11] sanishkr commented on #31
When will that release?

[2020-02-17 08:54] sanishkr commented on #31
@sag1v  I have sent a PR #32. Can you please check and publish soon, if it's all right.

[2020-02-17 09:09] sag1v commented on #31
@sanishkr Thanks for that! but i'm afraid it would introduce a breaking change because `styled-components` is a peer dependency, this means we will need to bump a major version.
I'm working on a new major version and already made this change, i haven't pushed the new WIP branch yet, but hopefully i will have time to do it this week.

This. new branch includes a rewrite with hooks and some new feat

[2020-02-17 09:18] sag1v commented on #31
@probablyup Would love get your advice, this package (`react-elastic-carousel`) has a peer dependency of `"styled-components": "^4.0.0"`. The latest version of SC introduced the new `attr` syntax.

You think it's safe to upgrade to the latest SC version and refactor to the new `attr` syntax without bumping a major for this package (`react-elastic-carousel`)?

[2020-02-24 18:07] MehdiAghighi opened #33 "Infinite"
can you please add a infinite slider option to the Library?

[2020-02-26 19:03] sag1v commented on #33
I'm working on it for the next major version

[2020-03-18 10:13] tmohammad78 opened #34 "For Typescript"
Can I use this package in typescript ? I am refactoring my project to typescript and I should convert it to typescript

[2020-04-16 05:33] sanishkr commented on #31
Hi @sag1v ,  Could you please update when you will release next version with upgraded styled-components? It's been quite some time.

[2020-04-16 06:39] sag1v commented on #31
Resolved with 8a6d784

[2020-04-16 06:39] #31 closed

[2020-04-16 07:53] sanishkr commented on #31
I had to upgrade all the packages in above example, and it works now, thanks @sag1v

[CodeSandbox link](https://codesandbox.io/s/react-elastic-carousel-8e8dw)

[2020-04-16 08:19] sag1v commented on #31
NP. I updated the sandbox example, can you check its working without updating any package?

[2020-04-16 10:07] sanishkr commented on #31
If you are talking about the [CSB](https://codesandbox.io/s/21o46mkwnr) link in readme of this repo, it works but it's package versions all way too old.

[2020-04-16 10:47] sag1v commented on #31
Thanks. Fixes

[2020-04-17 08:30] NguyenTrungMaxBka opened #35 "Can't resolve 'styled-components' in 'node_modules\react-elastic-carousel\dist'"
I imported and run then i got error. Can you give me solution

[2020-04-21 03:16] yudican commented on #35
Just run yarn add styled-components in your projects

[2020-04-21 03:17] yudican commented on #35
Just run yarn add styled-components in your projects

[2020-04-30 14:36] aarowman opened #36 "Feature request: Disable or hide arrows on first/last pages"
Currently if you are on the first page, the PREV arrow still shows normal. If you click it, it does not change the content.
It would be nice if we had an option to disable the buttons so they are shown as disabled (maybe add separate class styling for these, but that's different), and/or hide the button altogether (possibly with a placeholder).

I was able to implement this manually by editing the

[2020-04-30 14:42] aarowman opened #37 "Feature Request: Implement onChange function"
**Is your feature request related to a problem? Please describe.**
It is frustrating when I want to know the current page so I can implement my own logic (e.g. set a state variable)

**Describe the solution you'd like**
Implement an onChange parameter that accepts a callback function, so everytime the page changes (prev/next arrow click, or goTo() is called), then the callback is fired.

**Describ

[2020-05-08 06:04] JeremiahUL commented on #37
Has this been fixed?

[2020-05-08 09:10] ec2ainun commented on #24
any update? @sag1v
https://sag1v.github.io/react-elastic-carousel/renderPagination
perhaps, you can give an example, how Square component styled

[2020-05-08 09:31] sag1v commented on #24
Its just a component, you can render anything and style it as you wish.

[2020-05-08 10:41] ec2ainun commented on #24
yeah i know, but i don't know how to style the dots at the bottom while its inactive or active
that why, detailed how to customized the dot at the bottom or provided Square styled component example, will make it clear for to implement custom style

[2020-05-08 11:56] sag1v commented on #37
@aarowman
You got callbacks for start and end changes, isn't that sufficient?

Start of change callbacks:
[onNextStart](https://sag1v.github.io/react-elastic-carousel/onNextStart) / [onPrevStart](https://sag1v.github.io/react-elastic-carousel/onPrevStart)

End of change callbacks:
[onNextEnd](https://sag1v.github.io/react-elastic-carousel/onNextEnd) / [onPrevEnd](https://sag1v.github.io/react-elas

[2020-05-08 11:59] sag1v commented on #35
@yudican is spot on.
`styled-components` is peer dependency

[2020-05-08 11:59] #35 closed

[2020-05-08 12:00] sag1v commented on #34
Are you having any problems using it in a typescript project?

[2020-05-08 12:06] sag1v commented on #24
You can use the classes `.rec-dot` and `.rec-dot_active` to change the style of the dots:

[code]

[2020-05-08 12:06] #24 closed

[2020-05-08 12:12] sag1v commented on #33
Unfortunately i didn't have much time to work on it the last couple of months, i will try to do it soon.
Closing this and will update on progress in #9 .

[2020-05-08 12:12] #33 closed

[2020-05-08 12:15] JeremiahUL commented on #37
I wanted to trigger a change externally ... maybe I mixed it up, but I am
trying to trigger a swipe but clicking a different button outside the
carousel

On Fri, May 8, 2020, 12:56 PM Sagiv ben giat <notifications@github.com>
wrote:

[2020-05-08 12:31] sag1v commented on #36
@aarowman Great idea. Not sure what would be the ideal API here as some people will want to disable it, some will want to hide it and some might want to allow it (maybe there are more cases).

I don't want to bloat the component with props (there are too many as it is).
What do you about just adding a class to the button when we reach the end of the slides and the consumer can do whatever he wants

[2020-05-08 12:34] sag1v commented on #37
Got it. For this you have the [slideNext and slidePrev](https://sag1v.github.io/react-elastic-carousel/slideNext) API, these function are attached to the instance of the component so you will need a `ref` to the carousel and trigger it as you wish.

The example in the docs should set you in the right direction, let me know if there is anything you don't understand :)

[2020-05-08 23:10] JeremiahUL commented on #37
Thanks a lot. : )

On Fri, May 8, 2020 at 1:35 PM Sagiv ben giat <notifications@github.com>
wrote:

[2020-05-09 03:43] aarowman commented on #37
@sag1v The callbacks are not quite sufficient for a few reasons:
1. If we use goTo(), these aren't triggered
2. Clicking on a pagination button is like goTo() and does not trigger onNext* or onPrev*
3. Having to set up multiple callbacks for the same behavior is undesirable

My situation is trying to use React with hooks (similar to using redux) and changing a local state variable to know the curr

[2020-05-09 03:53] aarowman commented on #36
Ideally it would be an optional prop just like `pagination` or `showArrows`. Something like an enum `showEndPageArrows` set to "show", "hide", "disable".
Possibly also just always hide or disable them - I'm not sure why the arrow is needed if you're on the edge page.

The class idea is fine too, because it's more dynamic. Would that allow for disabling the button instead of hiding it?

As an aside

[2020-05-09 05:27] aarowman opened #38 "Scrolling does not work correctly after tab through children"
**Describe the bug**
If you use tabs to navigate to the children, then the pages are unaware of the change and scroll is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the children to a list of elements larger than one page (e.g. size 5 page with 20 elements)
2. run app and tab to the elements (e.g. keep tabbing to the 6th element or more) WITHOUT clicking the nav buttons - t

[2020-05-09 05:42] aarowman opened #39 "Page/scroll gets error if children are updated"
**Describe the bug**
If you update the children of the carousel after scrolling, then the active page is retained and can cause errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Set children to 10 items
2. Click next until on the last page
3. Dynamically update children to 5 items (anything less than 9)
4. Click PREV arrow
5. See error: TypeError: child is undefined

Note: if using mor

[2020-05-09 08:04] ec2ainun commented on #24
thanks its work! @sag1v
but is it possible implementing it using styled component instead?

[2020-05-09 11:12] sag1v commented on #37
@aarowman
1. Actually `onNextEnd` and `onPrevEnd` are triggered in this case
2. Actually `onNextEnd` and `onPrevEnd` are triggered in this case
3. You might be right about the names, `onNextEnd` and `onPrevEnd` are like separate `onChange` for both directions and should be triggered after the animation is finished. Maybe i should have called them just `onChange` and pass the direction as a paramet

[2020-05-09 11:31] sag1v commented on #36
When i built this component (needed it in my previous job couple of years ago) i had this use case when i needed it to show.

---

Yeah, you can disable a button via styling e.g: `pointer-events: none`

---

Valid question, i have prev and end separated so you can add different logic or just "listen" to one of them, for example you don't care about prev only about next. I could pass the direction

[2020-05-09 11:48] sag1v commented on #38
Thanks! Unfortunately this component is not a11y oriented. yet!
For this specific case, i would say we can pass `tabIndex={0}` to the arrows and all child wrappers that are visible. This should cover the bug isn't it?

[2020-05-09 11:55] sag1v commented on #39
Great catch!
So in other words, the carousel is not supporting reducing the number of items just adding items. Is that correct?

[2020-05-09 13:24] sag1v commented on #24
@ec2ainun When you use `styled-components`  you are not passing a class name but creating the actual component.

The[ example of renderPagination in the docs](https://sag1v.github.io/react-elastic-carousel/renderPagination) show this exact case. In [this example](https://raw.githubusercontent.com/sag1v/react-elastic-carousel/master/src/docs/mdx/renderPagination.mdx) the [Square component](https://

[2020-05-11 13:25] aarowman commented on #38
@sag1v If you can give a tabIndex only to the visible children, then NOT on the hidden ones, I do think that would do it.

Similarly, I think the current situation is actually ok from an a11y view. I believe tabs will go to all content and then skip the arrows, which is satisfactory.

Doing only tabs or only clicks is fine. The difficulty is when combining tabs with clicks.

[2020-05-11 13:27] aarowman commented on #39
It's about the bug that it has an error or has undesired behavior. I can confirm the scenario of adding children - if the scroll may still fail, e.g.

1. start with 10 children
2. scroll to last page,
3. then update children to 15
4. see if the NEXT arrow works

[2020-05-11 13:43] aarowman commented on #37
@sag1v Thanks for the clarification! I didn't realize these were triggered when something changes outside of the actual next/prev clicks. Yes, this seems like they pretty much ARE the onChange function. I like the idea of just calling it onChange and passing the direction (or just the value). Perhaps that could be the solution?

If the page value was passed, that would also be very helpful. Someth

[2020-05-11 14:11] aarowman commented on #36
@sag1v Thanks for clarifying.

Apparently that only works for the mouse but isn't quite the same as disabling: https://bitsofco.de/theres-no-reason-to-use-pointer-events-for-html-elements/

Yeah, that makes total sense! I'm sure I would've done the same thing. This is an awesome library now that you've opened it up! Thank you.

You got it, that's exactly my thought. (As shown in issue #37)

This i

[2020-05-11 15:20] emt-mocha opened #40 "Not able to scroll to below or upward"
I found some issue with the Carousel over mobile screen. The problem starts when we set the carousel height to 100vh + full width, once you reach to the carousel section, thats it you cant scroll up or below to previous or next sections. But scrolling left and right to view the content inside the carousel is working fine.

Over desktop browsers no issues as we can scroll up and down using mouse wh

[2020-05-12 07:34] sag1v commented on #40
Thanks you. Can you create a minimal sandbox with example so i can try accessing via my phone?

[2020-05-12 11:42] emt-mocha commented on #40
hi sag1v,

I am  a newbie here.
I noticed the same behaviour happens on the sandbox over the url at below:

https://21o46mkwnr.csb.app

When you touch the purple box and try to scroll up or down,  it doesn't  respond but outside the purple box it responding.  :)

[2020-05-17 00:24] waynehaffenden commented on #36
@aarowman I would love to do exactly the same as you, have you got an example of your current working code so I can temporarily make mine work until this gets figured out? Cheers

[2020-05-17 14:07] #40 closed

[2020-05-17 14:16] sag1v commented on #40
@emt-mocha Thanks for the info, this should be fixed (in #41). You can use it with the new 0.5.0 version.

The issue was due to the fact that i passed `preventDefaultTouchmoveEvent` to `Swipeable` (from `react-swipeable`), this will prevent page scroll during touch swipe. I think that in some cases, we would want to prevent the scrolling but not all the time. Hence, i exposed it as a [props](https

[2020-05-17 14:19] sag1v commented on #34
closing for now. if you got any questions or errors let me know

[2020-05-17 19:25] #36 closed

[2020-05-17 19:25] #37 closed

[2020-05-17 19:33] sag1v commented on #36
@aarowman @waynehaffenden Theres now a way to disable arrows with the `disableArrowsOnEnd` prop (which is set to `true` by default by the way) :)

Thanks for your contribution 🤗

[2020-05-17 19:35] sag1v commented on #37
@aarowman I added the `onChange` callback as you requested. Passing it the current item as well as the current page index. I've done the same to the other on***End callbacks by the way.

Available as of version `0.6.0` :)

https://sag1v.github.io/react-elastic-carousel/onChange

[2020-05-19 14:34] aarowman commented on #36
Awesome, thanks @sag1v !

[2020-05-19 14:37] aarowman commented on #36
@waynehaffenden It looks like this is covered with the new version now! Let me know if you still want an example

[2020-05-20 11:34] waynehaffenden commented on #36
@aarowman thank you for the offer but as you said this is now available in the new version :)

[2020-05-20 16:59] #39 closed

[2020-05-20 17:08] sag1v commented on #39
@aarowman Thanks!
Fixed, available as of version `0.6.1` 🙂

[2020-05-24 15:57] thebiltheory commented on #40
Can I suggest to Add a CHANGELOG to the project?

[2020-05-24 17:15] sag1v commented on #40
Indeed. Not sure why i didn't write one so far 😷

[2020-05-27 14:55] sag1v commented on #40
@thebiltheory We do have it now :)
https://github.com/sag1v/react-elastic-carousel/releases

[2020-05-28 12:08] sag1v commented on #26
@sanishkr This maybe a nice addition, but it kind of breaks the number of items to show.
Even `react-slick` breaks in your example, try giving `slidesToShow` any number above 5 (even 5 is breaking the UI in some way).

I think that this option should only be available with `infinite: true` as you can fill up the track with items. Currently `react-elastic-carousel` does not support `infinite` so th

[2020-05-28 12:08] #26 closed

[2020-05-28 15:22] #38 closed

[2020-05-28 15:34] sag1v commented on #38
@aarowman Done. you can now navigate with Tab through arrow buttons, visible items and dots :)

[2020-05-28 21:51] aarowman commented on #38
Awesome! I look forward to trying it out

On Thu, May 28, 2020 at 10:34 AM Sagiv ben giat <notifications@github.com>
wrote:

[2020-05-29 22:58] waynehaffenden opened #46 "Hide arrow buttons when not enough content"
It would be great if the arrow buttons were not rendered if there wasn't enough content. An example is that I use this to show news articles in a card, if there is only one article for example, it looks a little silly with disabled arrows either side. So I guess the time the arrows would render is when there is enough items to actually enable the "next" arrow button.

[2020-05-29 23:04] waynehaffenden opened #47 "Dynamic height of items doesn't adjust actual carousel height"
I have items within the carousel that change in size based on media queries, this works great for normal use. However, if I resize the desktop browser for example, the height of the original items still remains for the carousel component, even though it's items are much smaller. This leaves a huge blank space of the original height of the items. This seems to only have an effect when the browser i

[2020-05-30 12:19] sag1v commented on #47
Thanks @waynehaffenden , can you please create a minimal example in codesandbox?

[2020-05-30 12:29] sag1v commented on #46
@waynehaffenden The arrow buttons have a public CSS class of `.rec-arrow`, when they are disabled they get the `disabled` attribute, which means you can just write a CSS rule of your own:

For example:
[code]

If you want more control, you can create the buttons on your own via the [renderArrow](https://sag1v.github.io/react-elastic-carousel/renderArrow) prop.

Is this sufficient?

[2020-06-01 10:34] SalahAdDin opened #48 "Error: Can't resolve 'styled-components'"
**Describe the bug**
After installing and importing this package, the console shows me a missing package.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the package with `yarn`.
2. Import it into a component
3. Run the project
4. Don't see anything in the site
5. Go to the console to get the error

**Expected behavior**
We must see the whole event with the carousel.

**Screenshots**

[2020-06-01 11:10] SalahAdDin opened #49 "Feature request: Disable or hide pagination"
Our design requires not showing arrows and paginators.
You already provide a solution to hide arrows, but no any option to hide also padding, and it would be great if you can provide an option for it.

Great work, Thanks!

[2020-06-01 11:54] waynehaffenden commented on #46
@sag1v  This works great, thank you

[2020-06-01 12:50] waynehaffenden commented on #47
@sag1v Hopefully this shows what I mean :) [https://codesandbox.io/s/cool-kalam-vs4ye?file=/src/App.js](https://codesandbox.io/s/cool-kalam-vs4ye?file=/src/App.js)

[2020-06-01 13:42] sag1v commented on #46
So basically what you after is that if `itemsToShow` is equal to the `items.length` then do something with the arrows, in your case you want to hide them both.

You can achieve this by either conditionally pass the `showArrows` prop:
[code]

Or if you want more fine grained control, you can create your own buttons with the [renderArrow](https://sag1v.github.io/react-elastic-carousel/renderArrow) p

[2020-06-01 13:44] sag1v commented on #48
@SalahAdDin Thanks. Note that `styled-components` is a peer dependency of `react-elastic-carousel` and you will need to install it as well.

[2020-06-01 13:47] sag1v commented on #49
@SalahAdDin There is a prop for that:
[code]

If you want more control you can render the pagination yourself with the [renderPagination](https://sag1v.github.io/react-elastic-carousel/renderPagination) prop.

[2020-06-01 13:56] sag1v commented on #47
@waynehaffenden Thanks!
Can you please check if this css rule helps:
[code]

[2020-06-01 13:58] SalahAdDin commented on #48
@sag1v So, you should put it on the documentation, because we don't know it until we get this bug.

[2020-06-01 14:01] SalahAdDin commented on #49
Oh, yes, you are right, my mistake.

[2020-06-01 14:01] #49 closed

[2020-06-01 14:01] waynehaffenden commented on #47
@sag1v Yes! This fixes the issue, will this be included in your package or is this something I should apply manually to my own projects?

[2020-06-01 14:05] waynehaffenden commented on #46
@sag1v How do I get access to the current itemsToShow based on breakPoints from the component without attempting to work out the window visible size etc?

[2020-06-01 14:11] waynehaffenden commented on #46
@sag1v Could it be passed through to renderArrow function as a parameter? The idea is that imagine I had 3 items to show and 3 items, in this case no arrows visible (nothing more to scroll), if I then shrink my browser window and hit tablet screen size, the arrows are now visible as there is 2 items to show (breakpoints) and 3 items (1 to scroll to). Does this make sense?

[2020-06-01 14:14] sag1v commented on #47
@waynehaffenden I'm not sure it is wise to include in the lib as i think this might break some other views, especially vertical mode. Moreover i didn't encounter your scenario elsewhere, so not sure why exactly you were facing with this bug. Maybe the fact that the height is determined asynchronously after the image was fetched and rendered.

Anyway, i think for now we will leave it as is, if we s

[2020-06-01 14:16] waynehaffenden commented on #47
@sag1v Makes sense, thank you for looking into this for me, really appreciate it.

[2020-06-01 14:27] waynehaffenden commented on #47
@sag1v (Sorry!) Since adding your CSS fix above when resizing the browser window, I get this warning from React:

`react_devtools_backend.js:6 Over 200 classes were generated for component styled.div with the id of "sc-AxhUy".
Consider using the attrs method, together with a style object for frequently changed styles.
Example:
  const Component = styled.div.attrs(props => ({
    style: {
      bac

[2020-06-01 14:45] sag1v commented on #48
@SalahAdDin I understand, though all peer dependencies (including react and react-dom) should be installed by the consumer.

Where exactly do you think its best to put it in the docs?

[2020-06-01 14:54] sag1v commented on #46
@waynehaffenden You can hook to the [onResize](https://sag1v.github.io/react-elastic-carousel/onResize) callback to keep track of the current used breakpoint.

[2020-06-01 15:07] waynehaffenden commented on #46
@sag1v Thank you for your suggestion, this seems to work, feels like a bit of a hack though. Any chance you could implement this as an optional prop to the Carousel, so if people want this feature (hiding the arrow buttons/bullets) when not enough content (i.e when both arrows are disabled)?

[2020-06-01 15:07] #46 closed

[2020-06-01 15:28] sag1v commented on #47
Yeah i think i know where this warning is coming from, [i gave the element a `height` prop](https://github.com/sag1v/react-elastic-carousel/blob/master/src/react-elastic-carousel/components/Carousel.js#L480) which is a valid html attribute for div's. I should re-name it so it wont get passed down to the underline DOM element.

[2020-06-01 15:30] sag1v opened #50 "passing height prop yields Over 200 classes were generated for component styled.div"
see https://github.com/sag1v/react-elastic-carousel/issues/47#issuecomment-636891742 for more details.

[2020-06-01 15:33] #50 closed

[2020-06-01 15:52] sag1v commented on #47
@waynehaffenden the warning should be gone if you upgrade to the latest version `v0.6.4` 🙂

[2020-06-01 15:52] #47 closed

[2020-06-01 16:29] waynehaffenden commented on #47
@sag1v Yep, all fixed, great job :)

[2020-06-01 16:56] waynehaffenden opened #51 "Outline around items"
There is an outline around each item within the carousel when clicking on the item, since the latest update.

[2020-06-01 17:04] waynehaffenden commented on #51
This is happening on the focus of the .rec-item-wrapper

[2020-06-02 06:23] sag1v commented on #51
@waynehaffenden Yeah because they are focusable via `tabindex`.

You can target each child of the `.slider` and disable it, keep in mind that this is not very a11y friendly.

[code]

[2020-06-02 07:02] waterrhett opened #52 "Cannot use goTo to reach last item after appending new items"
Hi, [sag1v](https://github.com/sag1v). Thanks for the library!

I am trying to dynamically append items to the carousel.
Each time I append a new item, I would like to use `goTo` to display it (the last item).
However, currently this only goes to the second last item.

You can find a minimal example here:
https://codesandbox.io/s/react-elastic-carousel-l9y65?file=/src/index.js

Every time I press

[2020-06-02 07:11] waterrhett commented on #52
I realize this may be due to the async call to `setState`.
Is that right? If so, how would I avoid this problem?
Thanks!

[2020-06-02 12:20] waynehaffenden commented on #51
@sag1v That makes sense, completely agree about accessibility, although this way I can change the colour to suit the design better. Thank you

[2020-06-02 12:20] #51 closed

[2020-06-02 17:08] lorenzosjb opened #53 "Please add types for typescript"
Today is very important to have typescript compatibility, so please can you add it?
Thanks.

The import error says:

Could not find a declaration file for module 'react-elastic-carousel'. '/node_modules/react-elastic-carousel/dist/index.js' implicitly has an 'any' type.

Try npm install @types/react-elastic-carousel if it exists or add a new declaration (.d.ts) file containing declare module 'reac

[2020-06-02 17:10] lorenzosjb commented on #34
It says

Could not find a declaration file for module 'react-elastic-carousel'. '/node_modules/react-elastic-carousel/dist/index.js' implicitly has an 'any' type.

Try `npm install @types/react-elastic-carousel` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-elastic-carousel';`ts(7016)

[2020-06-02 20:13] SalahAdDin commented on #48
In the installing section, as a dependency you can add it in the same line, or make it patent we need to install it, because, at least for me, many libraries, as `material-ui` installs their dependences by itself (`svgr` for instance).

[2020-06-02 21:03] sag1v commented on #48
@SalahAdDin Thanks, I added it to the docs.

Some dependencies can't be added by 3rd party libraries because you either don't want or can't have duplicate instances of them. With styled-components (or react) for example, its not allowed to have duplicates. When you install a library and not installing a peer dependency of it you should see an error/warning about `unmet peer dependency` in your ter

[2020-06-02 21:07] sag1v commented on #52
@waterrhett You are spot on!

Indeed this is not related to `react-elastic-carousel` but to the fact that react state updates are async.

The class method setState has a second argument which is a callback that react triggers *after* the state is actually updated.

Try this:

[code]

[2020-06-02 21:08] #52 closed

[2020-06-02 21:09] sag1v commented on #53
closing in favor of #34

[2020-06-02 21:09] #53 closed

[2020-06-02 23:02] waterrhett commented on #52
@sag1v This works perfectly!
Thank you so much (for teaching me React :)

[2020-06-03 15:42] waynehaffenden opened #54 "Height Bug"
This is a bit of a strange one and I might be going about it the wrong way here so advice is appreciated. I've got different height items within the carousel, now what I'm trying to do is make them all the same height but this seems to be really difficult! Here's the CSS I have so far:

[code]

Now if I use Chrome dev tools and set the height to 100% in .rec-slider div then it works great and is e

[2020-06-04 16:15] sag1v commented on #54
@waynehaffenden Can you provide a running example?

[2020-06-04 22:03] waynehaffenden commented on #54
@sag1v Please check the demo here: [https://codesandbox.io/s/suspicious-fire-wfc4b?file=/src/App.js](https://codesandbox.io/s/suspicious-fire-wfc4b?file=/src/App.js). You'll see when you load the items within the carousel are different heights, if you then uncomment the `height: 100%` within the `.rec-slider` class you'll see it works as expected. Then refresh the page or browser window (with the

[2020-06-05 08:01] sag1v commented on #54
@waynehaffenden The carousel element is initialised with a `0` height, then it subscribing to the resize event of the slider item and sets its height accordingly.

I think that when you explicit set the slider element's height to `100%` (ie. take the height of the parent) then you break that flow of the carousel that is "listening" to the height of its child (slider), i mean they both are dependin

[2020-06-05 11:25] waynehaffenden commented on #54
@sag1v Thanks for the detailed explanation.

In all honesty I don't need the slider to be `height: 100%`, all I'm trying to do is make all the items within the slider the same height without specifying a height as the contents are dynamic. The only way I was able to make this happen is by setting all the divs within the carousel to `height: 100%` but doing this on page reload makes the height 0px.

[2020-06-05 11:51] sag1v commented on #54
@waynehaffenden But what height do you want them to be, by the highest item?

[2020-06-05 11:54] waynehaffenden commented on #54
@sag1v Exactly that

[2020-06-05 12:06] sag1v commented on #54
So i think you should just set the image to 100% *width*.
These rule should be sufficient:

[code]

[2020-06-05 13:11] waynehaffenden commented on #54
@sag1v That doesn't seem to work and is what I had previously: [https://codesandbox.io/s/suspicious-fire-wfc4b?file=/src/App.js](https://codesandbox.io/s/suspicious-fire-wfc4b?file=/src/App.js)

[2020-06-05 13:16] sag1v commented on #54
@waynehaffenden In the example you shared you the set `max-width` and not `width` of the `img`:

[code]

[2020-06-05 13:45] waynehaffenden commented on #54
@sag1v Amazing, however, (sorry) see my updated example (this is how it really is): [https://codesandbox.io/s/suspicious-fire-wfc4b?file=/src/App.js](https://codesandbox.io/s/suspicious-fire-wfc4b?file=/src/App.js)

[2020-06-05 16:28] sag1v commented on #54
@waynehaffenden OK so the image has a sibling (text or other content), I'm not a CSS expert but i think making all nested elements `display:flex` will make them fill the height of their parent.

In this case we only need to add this to 2 elements, so i think this should work for you:

[code]

[2020-06-05 16:36] waynehaffenden commented on #54
@sag1v Thank you, this sadly doesn't work but I'll continue to experiment. I'm closing this issue for now as it seems that it's not a bug. Thanks again

[2020-06-05 16:36] #54 closed

[2020-06-05 19:03] sag1v commented on #54
@waynehaffenden Strange, it works for me.
With this code:

[code]

This is the result i get:

![image](https://user-images.githubusercontent.com/9153149/83913511-35474a00-a778-11ea-8b55-37ef17effe8f.png)

Anyway, you might need to play around with the cards styling to get exactly what you after, and as you said, i guess this is not a bug :slightly_smiling_face:

[2020-06-07 11:29] sag1v commented on #34
I'm not using TS much so i have little experience with it.
I think we can use (or create) a script that generates the `d.ts` files out of the `propTypes` declarations. I didn't find any tool that doe's that out of the box, I played around with [react-to-typescript-definitions](https://github.com/KnisterPeter/react-to-typescript-definitions) but it seems that we should write a script around that wh

[2020-06-07 19:43] fastengineer opened #56 "What to do while loading"
It takes a 0.3 sn while loading, can we handle this?

Is there any callback which we can use?

Thank you for awesome project!

[2020-06-08 07:57] sag1v commented on #56
@fastengineer Loading of what?

[2020-06-08 08:20] fastengineer commented on #56
The carausel,

It takas a while to generate dom

[2020-06-08 09:44] sag1v commented on #56
Can you please provide more details, like are you testing in dev mode or prod, maybe an example (codesandbox) or something similar?

[2020-06-10 10:17] fastengineer commented on #56
Yes I am using SSR with next.js. I am rendering the slider as blank on server side, and I send objects on client side. Because I need client's timezone to filter objects.
You can check our recently developed website [the site in prod](https://cowork.today)

[2020-06-20 19:27] PriyaJainDev commented on #9
How to enable infinite loop property?

[2020-07-06 21:23] JuniorDiasOliveira opened #57 "Can't resolve 'styled-components' in ../node_modules/react-elastic-carousel/dist"
**Describe the bug**
Asking for styled-components on a project without it.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install fresh in a project and follow the instructions in the docs to run.

**Expected behavior**
Works normally

**Additional context**
The project was created using typescript and material-ui

[2020-07-07 06:50] sag1v commented on #57
Hi, This project is depended on styled-components. See [docs](https://github.com/sag1v/react-elastic-carousel#note)

[2020-07-07 06:50] #57 closed

[2020-07-14 21:47] RCRJ opened #58 "renderPagination seems to run ~8 times on intial render"
I'm wondering if this is normal, I created a pretty bare-bones example in codesandbox were I am rendering a Material UI Pagination component from the renderPagination function.

I also tried memoizing the component however it seems like the pagination is always rendered multiple times.

[![Edit interesting-lamarr-yszok](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.i

[2020-07-15 08:57] MonikaPikuzinska opened #59 "Cannot read property 'props' of undefined"
When I try to use this lib I get an error
![image](https://user-images.githubusercontent.com/57132665/87525474-d4216900-c689-11ea-9f48-d512d9fc5d87.png)

What should I do?

[2020-07-18 11:28] sag1v commented on #59
Hi @MonikaPikuzinska , can you post a minimal example that reproduce this error?

[2020-07-18 13:01] sag1v commented on #58
Thanks @RCRJ.

TL;DR: There is abug, we are passing the `pages` array as a new array on each render.

This get rendered multiple times because the root `Carousel` gets state-updates which trigger a re-render (state update due to width / height changes from initial paint).

Also keep in mind the React will render twice everything below `<React.StrictMode>`.

With that said, `react-elastic-carousel`

[2020-07-19 06:52] irasanchez commented on #48
Could this be added to the Readme as well please for the same reasons? Thank you.

[2020-07-19 07:07] sag1v commented on #48
@irasanchez  It is in the [readme](https://github.com/sag1v/react-elastic-carousel#note).

Though i just found out its not updated in NPM :/
I will update it thanks

[2020-07-19 07:32] sag1v commented on #48
@irasanchez fixed

[2020-07-19 07:32] #48 closed

[2020-07-20 12:26] MonikaPikuzinska commented on #59
I get error when I try to click right arrow

[2020-07-20 13:13] sag1v commented on #59
Can you please share some code?

[2020-07-21 08:55] #58 closed

[2020-07-21 09:07] sag1v commented on #58
fixed in `v0.6.7`

[2020-07-23 09:10] MonikaPikuzinska commented on #59
I don't know how but now everything works

[2020-07-23 09:10] #59 closed

[2020-08-05 18:31] mAAdhaTTah opened #62 "Generated bundle includes dependencies"
**Describe the bug**
The generated bundle includes dependencies like `classNames` & the RO polyfill. As a result, the consumer's bundle can include those dependencies multiple times if they're used in other bundles.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `react-elastic-carousel`.
2. Look at the `dist/index.js` file.
3. See the code for `classNames` & others.

**Expected beha

[2020-08-06 06:07] sag1v commented on #62
@mAAdhaTTah But what if the consumer doesn't use these two libraries? I'm not sure that each tertiary dependency should be a peer-dependency, its exhausting to install them manually.

[2020-08-06 13:52] mAAdhaTTah commented on #62
@sag1v They shouldn't be peerDeps, just regular deps, like React & SC are.

[2020-08-06 14:50] sag1v commented on #62
Well, react and SC are peerDeps.

[2020-08-06 15:11] sag1v commented on #62
@mAAdhaTTah I just remembered that rollup will bundle it ALL together via the `commonjs` plugin..

[2020-08-06 15:28] mAAdhaTTah commented on #62
@sag1v Yeah, that's the cause. I believe if you move them to `deps`, the `external` plugin will make sure they're not bundled.

[2020-08-06 15:48] sag1v commented on #62
@mAAdhaTTah nah, `external()` will ignore all peerDeps.
If you see in `package.json`, the only entry in [dependencies](https://github.com/sag1v/react-elastic-carousel/blob/master/package.json#L113) is `react-swipeable` (my mistake for not including both `resize-observer` and `classnames` there as well), but i see that they are included in the bundle anyway.
I suspect that `rollup-plugin-node-resol

[2020-08-06 16:05] mAAdhaTTah commented on #62
@sag1v I agree that consumers should not need to install those libs to use the library. I disagree that the only alternative is to bundle non-peer-deps into the library. That's the behavior of the plugin you're using, but you could e.g. switch to [`auto-external`](https://www.npmjs.com/package/rollup-plugin-auto-external) or even using rollup's [`external`](https://rollupjs.org/guide/en/#external)

[2020-08-06 16:06] mAAdhaTTah commented on #62
Oh, to be clear, it's the behavior of [`rollup-plugin-peer-deps-external`](http://npm.im/rollup-plugin-peer-deps-external).

[2020-08-06 16:51] sag1v commented on #62
@mAAdhaTTah I'm not sure i understand.

Whats do you think should be manually added to the `external` array? And what would happen if consumers wont include it manually?

For example, if we put `resize-observer-polyfill` in `external` but the consumer is not using it nor including it in their project, then where should it come from?

[2020-08-06 17:03] mAAdhaTTah commented on #62
@sag1v If `resize-observer-polyfill` is in this library's package.json as a `dependency`, npm or yarn will install it automatically for this.

[2020-08-06 17:12] sag1v commented on #62
Hmm something like this plugin?
https://www.npmjs.com/package/rollup-plugin-exclude-dependencies-from-bundle

[2020-08-06 17:14] mAAdhaTTah commented on #62
Yeah that would work.

[2020-08-06 17:22] sag1v commented on #62
I would welcome a PR 😁
Will be nice if you check that its actually working well for you...

[2020-08-06 17:32] mAAdhaTTah commented on #62
Sure! I could probs take a look at this tomorrow.

[2020-08-07 01:00] superjose commented on #34
@sag1v

Create an `typings.d.ts` file (it can be named anything) in your project's src folder and put:

[code]

Then you can do:
`import Carousel from 'react-elastic-carousel'`.

[2020-08-07 01:06] superjose opened #63 "Clicking the arrow buttons will submit a form."
**Describe the bug**
The arrow buttons are submitting a form as they have no type specified.

**  Fix **
Just add `type={"button"}` in src/react-elastic-carousel/components/Arrow.js

This is an easy fix. Just need to add one line of code in Arrow.

[2020-08-07 01:07] superjose commented on #63
I could make the pull request.

[2020-08-07 05:24] sag1v commented on #34
I'm looking for an automated way to create/update the .d.ts file so it will be synced with the proptypes declarations.

[2020-08-07 11:03] sag1v commented on #63
Thanks @superjose ! A PR would be great :pray:

[2020-08-07 11:05] superjose commented on #63
@sag1v Thanks to you 😊. This has been the best slider component that I found! (And I tried almost all of the ones found in npm!). Could you give me push access to the repo? Thx

[2020-08-07 11:17] sag1v commented on #63
I'm glad you like it 🙃
You don't need push access. Just fork the repo, make the change then open a pull request.

[2020-08-07 11:18] superjose commented on #63
Oh sweet!! Thanks!

[2020-08-08 10:11] sag1v commented on #34
@superjose As discussed, we will start by manually creating the `d.ts` file so we can support typeScript ASAP, and then we will figure out a way to automatically generate and update it based on the lib's proptypes.

Thank you! 🙏

[2020-08-08 11:35] #63 closed

[2020-08-08 12:48] sag1v commented on #34
Now available as of version `0.7.0`.
thanks @superjose

[2020-08-08 12:48] #34 closed

[2020-08-08 12:49] sag1v commented on #63
Available as of version `0.7.0`
thanks @superjose

[2020-08-09 06:48] #62 closed

[2020-08-09 15:26] sag1v commented on #62
Thank you @mAAdhaTTah !

[2020-08-09 17:25] mAAdhaTTah commented on #62
@sag1v Great, thank you!

[2020-08-13 16:27] Yaskier opened #69 "Breakpoints are being ignored"
**Describe the bug**
The breakpoints are ignored, always showing 1 item.

**To Reproduce**
[code]

**Expected behavior**
I expected it to show 4 items and decrease the quantity when the screen is smaller

**Screenshots**
![image](https://user-images.githubusercontent.com/1658525/90160798-8ab06080-dd92-11ea-89ec-cefc9cfe6703.png)

**Desktop (please complete the following information):**
- Ubuntu
-C

[2020-08-14 07:04] sag1v commented on #69
Hi @Yaskier, you have a typo in the `breakPoints` prop (note the upper case `P` for Points).

Instead of `breakpoints` you should pass `breakPoints` as prop.

[2020-08-14 07:15] Yaskier commented on #69
That's not a typo, maybe is a bug in your typings, I already saw that difference in your documentation, but the typescript typings definitions force me to write it that way.

I can provide proof if you need it, please open the issue again.

[2020-08-14 07:43] #69 closed

[2020-08-14 07:47] sag1v commented on #69
@Yaskier Sorry i guess misunderstood. Anyway thanks, i fixed the typo in the typing file and published the fix under version `0.7.2`. Let me know how it goes 🙂

[2020-08-16 15:16] #56 closed

[2020-08-18 07:41] sag1v commented on #69
@Yaskier Is the latest version working well for you?

[2020-08-18 08:06] mathiasjakobsen opened #71 "Using both renderPagination and breakPoints on <Carousel /> breaks the pages property in renderPagination"
**Describe the bug**
When combining the `renderPagination` and `breakPoints` props on `<Carousel />` the `pages` in `({ pages, activePage, onClick }) =>` does not take the current breakpoints `itemsToShow` into consideration.

**To Reproduce**
Given a `<Carousel />` with 9 items, at a breakpoint showing 3 items per page will have `pages` be `[1, 2, 3, 4, 5, 6, 7, 8, 9]` rather than the expected `[

[2020-08-19 05:39] #71 closed

[2020-08-19 05:43] sag1v commented on #71
Thanks @mathiasjakobsen! 🙏
This is a regression due to a fix of #58.
Fixed as of version `0.7.3`

[2020-08-19 07:52] mathiasjakobsen commented on #71
@sag1v thank for the ultra quick response time. However, the problem still occurs when using latest release. I think it's due to the difference between the default pagination and a passed `renderPagination` function, in https://github.com/sag1v/react-elastic-carousel/blob/master/src/react-elastic-carousel/components/Carousel.js#L575-L586. `numOfPages` takes `itemsToShow` into consideration, since

[2020-08-23 15:06] Shubhamg2595 opened #73 "how to make next slide items partially visible"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-24 06:58] sag1v commented on #73
Hi @Shubhamg2595
Can you please provide a description of what are you trying to achieve?

[2020-08-24 08:28] Shubhamg2595 commented on #73
I was trying to display portion of next slide as preview with current slide on focus.
Thanks for your reply. Achieved it with breakpoint prop and providing decimal values to itemsToShow prop.
Closing this issue.

[2020-08-24 08:28] #73 closed

[2020-08-24 10:20] sag1v commented on #73
Decimals `itemsToShow` is not fully supported, well it wasn't until now (as of version `0.7.4`) 🙂

[2020-08-31 11:11] GlutVonSmark opened #75 "Problem with currentPage when replacing data sets (items)"
Hi.

I have a view that uses the Carousel.
View allows me to provide the Carousel with different sets of data.
If I move the active page to let's say page number 3 on one set of data, (18 items showing 4 on screen)
when I switch the data to a different set I would like to be able to reset the activePage to be 0.

This also causes a bug when the data set that we move to has only 1 page but the acti

[2020-08-31 15:00] prerak13 opened #76 "I am making a spfx web part with carousel, for that, I am using react-elastic-carousal, but while using it I am getting an error"
**Describe the bug**

I am making a spfx web part with carousel, for that, I am using react-elastic-carousal, I installed it using npm.
 But when I try to use it in my spfx tsx file it is throwing error

**To Reproduce**

Carousel' cannot be used as a JSX component.   Its instance type 'ReactElasticCarousel' is not a valid JSX element.
    Type 'ReactElasticCarousel' is missing the following prope

[2020-09-02 08:34] sag1v commented on #76
Hi @prerak13 ,  Can you provide some code? hard to guess what went wrong

[2020-09-02 08:45] sag1v commented on #75
Thanks @GlutVonSmark
You think that using the `goTo` method can resolve your use case?

Something like this:
[code]

[2020-09-02 14:34] prerak13 commented on #76
I just used the <Carousel> </Carousel>  and got error which i specified on
mail.

I solved it by changing sourcecode of Carousel.ts file in which i changed

import * as react from react

Instead of
import react from react.

If you wish I want to send a pull req for this fix so it will be shown to
my profile.

On Wed, Sep 2, 2020, 2:05 PM Sagiv ben giat <notifications@github.com>
wrote:

[2020-09-02 20:41] sag1v commented on #76
Oh so this is a typescript issue?
Feel free to send a PR

[2020-09-03 08:03] #76 closed

[2020-09-03 08:07] sag1v commented on #76
Fixed as of `v0.7.5`

[2020-09-03 17:10] prerak13 commented on #76
Someone already did.

On Thu, Sep 3, 2020, 2:11 AM Sagiv ben giat <notifications@github.com>
wrote:

[2020-09-04 08:01] GlutVonSmark commented on #75
Would probably solve my problem.
I did with remounting of the carousel (adding new react key) when data props changes.

[2020-09-04 13:17] sag1v commented on #75
Ok cool.
We can't do that inside the carousel (resetting the state when children chsnge) because it might break some use cases, like if someone wants to lazy add items...

[2020-09-15 08:28] sag1v commented on #75
Hi, I'm closing this issue. If you still think theres something to be done in lib side feel free to re-open.

[2020-09-15 08:28] #75 closed

[2020-09-21 04:48] Anu-Ujin commented on #9
@sag1v How to enable infinite loop ? Is there any demo?

[2020-09-21 07:53] sag1v commented on #9
@Anu-Ujin #17 was not added, you can read [my comment](https://github.com/sag1v/react-elastic-carousel/pull/17#issuecomment-500117484) about it.

I am working on this feature these days (finally got some time to do it). I hope i can make it happen by the end of this month or next.

[2020-09-21 19:34] aarowman opened #80 "[Feature Request] add prop for hideArrowsOnEnd"
**Is your feature request related to a problem? Please describe.**
Currently we have `disableArrowsOnEnd` that still renders arrows, but they are disabled. It would be nice to have an option to hide them completely.

**Describe the solution you'd like**
Added boolean prop `hideArrowsOnEnd` (or change the `disableArrowsOnEnd` to a new prop with an enum for "show", "disable", "hide" with default "di

[2020-09-21 19:46] aarowman commented on #37
@sag1v  Is there a need for the on***End callbacks if this one exists? Should they be deprecated in a future version in this case?

[2020-09-21 20:10] sag1v commented on #37
They are not deprecated because some use cases needs a separate callback for next/prev or before/after animation

[2020-09-22 06:43] sag1v commented on #80
Hi @aarowman, I think we can achieve that by simply adding a css class?

Something like:
[code]

This will also keep the space

[2020-09-23 03:39] aarowman commented on #80
@sag1v Sure, let's give it a shot! Good idea..
Are you suggesting doing that in the client project? Or doing that here in this repo as the solution when the prop is added?

[2020-09-23 03:43] aarowman commented on #37
I see. Yeah that's true since `onChange` does not say which direction it went (prev or next). That could be an alternative solution - adding a 3rd param to the onChange call and removing the "extra" 2 functions.

Consider something like `onChange(currentItem, pageIndex, direction)` and `beforeChange(currentItem, pageIndex, direction)` - each direction would be one of the `consts` like `NEXT` and `

[2020-09-23 05:28] sag1v commented on #80
@aarowman I mean the consumer can do that, instead of passing a prop, he/she can just create this rule.

[2020-09-23 20:36] Camlgiles opened #81 "Create option, or permanently disable the blue outline when element is focused"
![Screen Shot 2020-09-23 at 1 30 13 PM](https://user-images.githubusercontent.com/47339561/94066589-8a4bb200-fda1-11ea-885a-d53b43348175.png)

I can't disable the blue outline when a carousel element is focused. would be nice to have an option to disable this highlight.

[2020-09-24 04:38] sag1v commented on #81
It's just the default browser's styling, it can be disabled with css.

You can create a rule that disables the `outline` for any nested elements under the carousel (or any other carousel element):

[code]

[2020-09-24 04:43] sag1v opened #82 "Adding a styling section to the docs"
It seems that people not aware that `react-elastic-carousel` exposes a css classes as part of its API (classes prefixed with `rec`). This should be well documented.

[2020-09-24 18:33] Camlgiles commented on #81
worked perfectly. thank you!

[2020-09-24 18:33] #81 closed

[2020-09-24 23:35] aarowman commented on #80
Makes sense. The downside is that the consumer has to determine the
classname of the button. If they don't render it themselves (or if they
don't need a class otherwise), then it's more complicated.

For me, it's good enough since I'm creating my own buttons with a class so
I can just use that.
The `:disabled` part is a good tip

On Wed, Sep 23, 2020, 12:28 AM Sagiv ben giat <notifications@github.

[2020-09-25 14:57] #82 closed

[2020-09-25 15:26] sag1v opened #84 "tabindex focus is wrong when using breakpoints"
When using breakpoints the tabindex focusing is ignoring visible items.

This is due to the fact the we are only checking the `itemsToShow` prop that we received directly and not cheking the prop inside a selected breakpoint (if given).

[2020-09-25 15:33] sag1v commented on #84
#85

[2020-09-25 17:33] #84 closed

[2020-09-25 17:34] sag1v commented on #80
@aarowman
Not sure i understand this part

[2020-09-30 06:38] sag1v commented on #80
@aarowman I'm going to close this. Feel free to re-open if you think there is something to do from the lib side

[2020-09-30 06:38] #80 closed

[2020-09-30 19:19] aarowman commented on #80
I was not aware of this part.

What I was saying above is that the workaround solution is basically to use the hard-coded class name to hide it. This is a decent workaround, but still has a risk if the class name changes. Also, if the client renders the arrows themselves, then the class name would be different or missing altogether, but hopefully they would add it to make it work.

Considering the

[2020-09-30 19:31] sag1v commented on #80
@aarowman All class names with the rec- prefix won't change as i consider them part of the library API, if they change that means a major version bump (api break), no different than props.

BTW, these classes have no styling, they are just there for injecting style from outside. Like in this case.

[2020-10-01 00:13] aarowman commented on #80
Ok great! Yeah that wasn't clear to me from the docs at first. Now it's
more clear, thanks!

On Wed, Sep 30, 2020, 2:32 PM Sagiv ben giat <notifications@github.com>
wrote:

[2020-10-01 08:03] Multi-Thinker opened #87 "realtime swipe/drag"
**Is your feature request related to a problem? Please describe.**
currently, this slider shows a bad animation and drag/swipe handler, if you try to swipe https://sag1v.github.io/react-elastic-carousel/ you have to remove mouse for it to change.

**Describe the solution you'd like**
Most elastic carousel uses realtime swipe/drag, which you hold one card and drag to left or right the slider moves

[2020-10-01 09:12] sag1v commented on #87
Hi @Multi-Thinker
1. Realtime swipe/drag - This requires a different approach via the swipe mechanism, it is doable but needs some time to implement.
2. Overflow items - Did you try providing a decimal or a float as `itemsToshow`?

for example

[code]

[2020-10-01 20:06] aarowman opened #88 "Add `onKeyDown` callback for items"
**Is your feature request related to a problem? Please describe.**
Since the a11y features were added, the item has a wrapper div that gets `tabIndex={0}`, which generally requires removing tabIndex from the children. Because of this, the `onKeyDown` event is not triggered on the child.

Note: my specific use case is using a `Link`. The `onClick` event is still triggered, but I cannot get the "ent

[2020-10-03 11:25] sag1v commented on #88
Thanks @aarowman !
Can you please create a minimal [sandbox](https://codesandbox.io/s/21o46mkwnr) example so i can tinker with?

[2020-10-03 12:43] #87 closed

[2020-10-03 15:32] #88 closed

[2020-10-03 15:35] sag1v commented on #88
@aarowman I made some changes, now the `tabIndex` is injected to the Items, visible items gets `0` and none visible items gets `-1`. You can grab that `tabIndex` and pass it to whatever nested element you want (or the root element of the Item).

This way you as a consumer has the control on what is being focused (or not).

I also added a prop - `autoTabIndexVisibleItems` which defaults to `true` b

[2020-10-03 16:19] sag1v commented on #87
@Multi-Thinker Realtime swiping was added, install latest version to get it 🙂

[2020-10-03 16:20] Multi-Thinker commented on #87
You Rock!! I just tried it now after seeing PR merged. :)) it works flawlessly. are you open for PR? i'd love to keep this lib rocking

[2020-10-03 16:23] sag1v commented on #87
PR's are always welcome 🙏🏽

[2020-10-04 22:20] aarowman commented on #88
@sag1v Sounds like a good solution. I'm excited to give it a try!

[2020-10-04 22:24] aarowman commented on #88
@sag1v What does the source look like for your playground example? It just shows `ItemWithLink`. Is that a `<div>` with a nested `<a>` tag? I know it's just example code, but I'd be interested to see the true nature of the components in the examples too.

[2020-10-04 22:30] sag1v commented on #88
@aarowman You can see it [here](https://github.com/sag1v/react-elastic-carousel/blob/master/src/docs/components/ItemWithLink.js)

Attaching the code itself for visibility:

[code]

[2020-10-05 05:02] aarowman commented on #88
Looks good to me!

[2020-10-07 23:21] waheed7429 commented on #12
how can i disable dots of elastic carousel i dontnwant to show them

[2020-10-08 07:15] sag1v commented on #12
@waheed7429 You can pass `pagination: false`

[2020-10-09 13:27] CharlieJ213 opened #91 "Arrow hiding on breakpoint"
I cannot at the moment find a way of hiding the arrows at a max screen width. I have tried including it in the BreakPoints object. I have tried it with css @media tags targeting the .rec.rec-arrow classes and they still won't hide.

Add the option to change the showArrows prop in the breakPoints class

[2020-10-09 13:46] CharlieJ213 commented on #91
I closed it because I was just changing the button's display attribute to none, but then realised there was also an issue with that then hiding the pagination dots.

I have copied the exact same style examples from the actual website and it won't work in my own project. I am importing the css file correctly, I don't understand what is going on and why I can't style it

[2020-10-09 14:55] christo-pr commented on #9
Not sure if it worth it (since @sag1v is already working on this feature) but for now I got it working with a bit of logic:

[code]

[2020-10-09 15:13] sag1v commented on #91
@CharlieJ213 Why would you want to base your hide arrows condition on screen width? What if you you are on a max screen width but still have the ability to scroll the carousel window, if you hide the arrows the user wont be able to scroll to the next items.

[2020-10-09 15:20] christo-pr commented on #9
The timer is just to mimic the `autoPlaySpeed` that's why I mention it in my example, looking forward to use the `inifite` prop.

Thanks for the work!

[2020-10-09 16:17] sag1v commented on #91
@CharlieJ213 I realised that you might want to pass other props via a breakpoint. Although you can hook to the `onResize` callback and change the props, i think  REC should provide that out of the box.

So i'm going to add this capability that **ANY** prop can be passed directly to REC or via a break point. Keep in mind that i'm merging them so a prop passed via a breakpoint will override a direct

[2020-10-09 16:26] #91 closed

[2020-10-09 16:31] sag1v commented on #91
Available as of version `0.9.0`

[2020-10-09 18:01] CharlieJ213 commented on #91
I'm working on a web project which is meant to be a mobile first design and the arrows don't suit the designs we have, but they need to be there for desktop

[2020-10-09 18:40] sag1v commented on #91
Got it.
Try latest version, should work now.

[2020-10-17 15:39] pacholoamit commented on #9
Hello, how's the infinite scroll feature coming up? A lot of us would appreciate it if you added the feature to the official package. thanks and more power :)

[2020-10-21 01:48] pejman1 commented on #91
Hi, changes in last version causes new issue . while you change the state of windows to fullscreen carousel does not response the new window's size. I tested in google chrome windows 10. this issue is not in version 0.8.1

[2020-10-21 04:23] sag1v commented on #91
@pejman1 Thank you.
Can you please open a new issue (referencing this one) with a sandbox link that demonstrate the problem?

[2020-10-23 05:46] djsladi opened #93 "renderPagination page type number, not array"
**Describe the bug**
Type of "page" should be "array", not "number" in RenderPaginationProps

**To Reproduce**
Write the renderPagination example to Carousel-component and observe, that pages.map is not allowed on type "number"

**Screenshots**
![image](https://user-images.githubusercontent.com/39775012/96960821-03a70380-150c-11eb-9d37-db26dff83afe.png)

[2020-10-23 05:47] djsladi commented on #93
Changing pages: number; to pages: [] on index.d.ts fixes the issue.

[2020-10-23 09:27] sag1v commented on #93
Thanks @djsladi !

[2020-10-23 10:57] #93 closed

[2020-10-23 12:19] sag1v commented on #91
@pejman1 I managed to reproduce it, should be fixed in version `0.9.1`

[2020-10-23 12:20] sag1v commented on #93
@djsladi Should be fixed in version `0.9.1`

[2020-10-24 07:26] pejman1 commented on #91
thank you so much . it's fixed

[2020-10-24 07:35] pejman1 opened #94 "disable transition while resizing the window"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When we are in slide 2 or more , resizing the window and adding more items as a responsive page  to slide cause play transition and moving items in the screen.
* it's not happening in slide 1 of the carousel

**Describe the solution you'd

[2020-10-24 10:11] sag1v commented on #94
Thanks @pejman1. Can you try installing version `0.9.2-beta` or just use the `next` tag and tell me if this is sorted?

[2020-10-24 16:38] pejman1 commented on #94
It is fixed in version 0.9.2, great work.  thank you so much

[2020-10-24 20:01] JonasJW commented on #48
Hey @sag1v, I really like this project but I think it would be better if you wouldn't make styled-components mandatory as it is a dependency I would rather avoid. Why exactly did you chose to use it instead of making it with native react?

[2020-10-24 20:43] sag1v commented on #48
Hi, i like styled approach over css files.
It is mandatory because styled-components should be in peerDependencies so no duplication.
May i ask why do you want to avoid installing it?
The alternative would be to ask consumers to include css file instead which i don't like much.

[2020-10-24 20:59] JonasJW commented on #48
I might be wrong but to my knowledge styled-components adds a significant size to the bundle size. I have been using Swiper before but it was too large so I'm looking for something lightweight

[2020-10-24 22:07] sag1v commented on #48
AFAIK, its ~12kb. not that heavy :)

[2020-10-25 08:50] JonasJW commented on #48
Oh ok then I'm mistaken, sorry.

[2020-10-27 14:53] thibaultadet opened #95 "Types are not exported"
**Is your feature request related to a problem? Please describe.**
When using Typescript, the types are not found. They are not exported from the index.
It does not throw an error when running but when linting.

**Describe the solution you'd like**
It would be great to export the types so they can be used with Typescript without throwing errors.

And by the way thanks for this great package 😃

[2020-10-27 16:26] sag1v commented on #95
Thanks @thibaultadet !
So how do we import/export them?
Im not a TS user so never done this before.

[2020-10-27 16:34] thibaultadet commented on #95
Just by adding `export` 😉
and people will be able to import it like so :
`import { RenderArrowProps, RenderPaginationProps } from "react-elastic-carousel"`

[code]

[2020-10-27 18:26] sag1v commented on #95
Wait i thought this is [already supported](https://github.com/sag1v/react-elastic-carousel/blob/master/src/react-elastic-carousel/index.d.ts#L28).

Can't we just do:

[code]

[2020-10-28 14:36] Thibaut-Brugidou opened #96 "Mobile scrolling provides swiping animation"
**Describe the bug**
When you scroll the page on a mobile device touching the carousel, it will swipe the carousel in the same time.

**To Reproduce**
This bug is visible by simply resizing the window and scrolling the page (start touch must be onto the carousel)

**Expected behavior**
The carousel should understand this is a scroll and don't update his own position. An option canceling the real t

[2020-10-28 17:52] sag1v commented on #96
Thanks @Thibaut-Brugidou !

[2020-10-28 18:03] sag1v commented on #96
@Thibaut-Brugidou Can you please install a beta version and check if it works?

Either
[code]

or just use the `next` tag
[code]

[2020-10-29 08:04] sag1v commented on #95
@thibaultadet Can you confirm that what i wrote in [this comment](95#issuecomment-717439921) is sufficient?
I want to release a new version with some bug fixes and i want to know if i need to make any change for this issue.

[2020-10-29 08:51] thibaultadet commented on #95
@sag1v It doesn't work because `ReactElasticCarouselProps` is an interface. I'm not a Typescript expert but for your solution to work you would need to create a `namespace`, something like :
[code]

and then you could call :
[code]

[2020-10-29 09:56] Thibaut-Brugidou commented on #96
It's just perfect, thanks a lot ;)

[2020-10-31 11:49] #94 closed

[2020-10-31 11:49] #96 closed

[2020-10-31 11:49] #95 closed

[2020-10-31 11:59] sag1v commented on #94
You can use the normal `latest` version instead of the beta `next`. So this is fixed as of `v0.9.3`

[2020-10-31 12:00] sag1v commented on #96
Released with version `0.9.3`

[2020-10-31 12:01] sag1v commented on #95
Types are now exported in version `0.9.3`

[2020-11-03 14:42] hungdev opened #100 "How do i detect middle item"
Your lib so nice but i have a question.
is there anyway to know is the middle item? via css property or props...
for example: first slide, we have 1,2,3. Second slide: 4,5,6. so i want to detect item 2 of first slide, and 5 of second slide.
Because when i get the middle item of silde, i can make css for it.

[2020-11-03 16:18] hungdev opened #101 "Crash when item list has only one item"
here is code
https://codesandbox.io/s/eager-franklin-oweh0

[code]
![image](https://user-images.githubusercontent.com/12009276/98011759-dcfd9c80-1e2a-11eb-88db-81b0929e0b6d.png)

[2020-11-03 20:16] AK5123 opened #102 "Default align center of cards not working"
When items to display is 2 or more and if only one card is available in the list it is positioning to left, rather aligning center.
![not_center](https://user-images.githubusercontent.com/43901655/98036100-7636ae00-1e3f-11eb-9d40-9db05e82e2ef.png)

[2020-11-04 08:09] hungdev commented on #102
I think you should check number of Item then set itemsToShow value

[2020-11-04 13:13] AK5123 commented on #102
Yes, but I need to have a responsive slider for which I used breakpoints and each breakpoint already has specific items to show. Now customising each of items to show based on no of cards doesn't look good.

[2020-11-04 16:06] CannelleRb opened #103 "Padding on slider sides"
Hello, I need to put some left and right padding on the rec-slider div (at the beginning and the end of the items' list), but I couldn't do it without breaking everything.
Could you please add a prop enabling us to do that ? Another solution would be to change the itemPadding prop so that it can have a different value for the first and last item, for example.
Thank you :)

[2020-11-06 21:13] sag1v commented on #103
Hi, You have a public `CSS` class for each element of the carousel ([more info](https://sag1v.github.io/react-elastic-carousel/#styling)). In this case you probably want to style the `container`.
Instead of padding though, i would go with margin.

For example:

[code]

[2020-11-06 21:16] sag1v commented on #102
Hi, thanks.
I'm trying to think about a use case where someone will want that empty slots when `itemsToShow` are greater than `children.length`. And if there is a use case, what is the best API to support both use cases: No empty slots and with empty slots?

[2020-11-06 21:19] sag1v commented on #101
Hi, thanks!
I think there is a bug indeed, and i think i know [where it is](https://github.com/sag1v/react-elastic-carousel/blob/master/src/react-elastic-carousel/components/Carousel.js#L276).

In fact we may have more bugs, I forgot to convert children to an array (`React.Children.toArray`) before i access `.length`.

I will fix this soon, great catch.

[2020-11-06 22:44] sag1v commented on #100
Hi, thanks.

Well you can achieve that with a simple math and tracking the current index.
Keep in mind that there is only a middle if you have an odd number of `itemsToShow` :)

All you need is to keep track on current index and calculate the middle based on the `itemsToShow` you provided and current index.

e.g:

[code]

Here is a full example:

[code]

[2020-11-06 23:26] #101 closed

[2020-11-06 23:26] #102 closed

[2020-11-06 23:33] sag1v commented on #102
Fixed as of `v0.9.4`

[2020-11-06 23:33] sag1v commented on #101
fixed as of `v0.9.4`

[2020-11-07 14:00] hungdev commented on #100
Great, That's what I need <3
thank you.

[2020-11-07 14:00] #100 closed

[2020-11-09 13:19] CannelleRb commented on #103
Hello, thanks for your quick answer :) I already tried this solution, but I don't get the result I want with it... I drew a quick blueprint of what you suggested (the first row) and what I need (the second row):
![image](https://user-images.githubusercontent.com/28741188/98545811-5287c380-2296-11eb-9157-d59e0ea061c8.png)
Here is a real life example, which is from Netflix:
![image](https://user-ima

[2020-11-09 14:06] sag1v commented on #103
Not sure i understand but i think you are after a decimal items to show.
For example:
`itemsToShow: 3.5`

[2020-11-09 16:53] CannelleRb commented on #103
No, I would like to have a margin (or a padding) at the beginning and at the end of the scrolled row :) For example on this carousel here (which is not react-elastic-carousel), I have a padding at the beginning and at the end, as shown in this gif:
![with another carousel](https://user-images.githubusercontent.com/28741188/98570350-a654d580-22b3-11eb-97d0-1e43ddf3c309.gif)
As you can see, the righ

[2020-11-09 17:59] sag1v commented on #103
Can you create a small PR with your suggested solution?

[2020-11-11 06:33] Ananthakrishnanj opened #107 "Issue with gatsby"
**Describe the bug**
The pages where ever the react elastic carousel is used in my gatsby project the page just reloads again and again causing the page to be inactive

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page having Carousel in gatsby application
2. The page will reload infinitily

**Expected behavior**
The page should not reload and should render the caoursel

[2020-11-11 07:14] sag1v commented on #107
@Ananthakrishnanj Thanks. I can't reproduce this behavior, [the docs](https://sag1v.github.io/react-elastic-carousel/) are built with gatsby and i don't see the issue you are describing.

Can you share an example?

[2020-11-12 10:35] BasitEllahi commented on #107
HI, i have the same problem. on localhost. its reloading infinitily on the homepage

[2020-11-12 10:48] sag1v commented on #107
@BasitEllahi can you create a small git repo so i can run it locally and see the issue?

[2020-11-12 10:58] BasitEllahi commented on #107
https://we.tl/t-GnU1ovg7hJ

[2020-11-12 10:58] BasitEllahi commented on #107
Here is a preview mp4 of the issue

[2020-11-12 11:04] sag1v commented on #107
Thanks, though its hard to understand the issue without a code example or a repo

[2020-11-12 11:08] BasitEllahi commented on #107
import React from 'react'
import { Tab, Tabs, TabList, TabPanel } from 'react-tabs';
import styled from 'styled-components'
import { colors, media, easings, fontsizes } from '../../../lib/style-utils'
import Carousel from 'react-elastic-carousel'

/* General styles for the tab list items */
const TabsContainer = styled.div`
    li{
        font-weight: bold;
        color: ${colors.grey};

[2020-11-12 11:09] BasitEllahi commented on #107
`import React from 'react'
import { Tab, Tabs, TabList, TabPanel } from 'react-tabs';
import styled from 'styled-components'
import { colors, media, easings, fontsizes } from '../../../lib/style-utils'
import Carousel from 'react-elastic-carousel'

/* General styles for the tab list items */
const TabsContainer = styled.div`
    li{
        font-weight: bold;
        color: ${colors.grey};

[2020-11-12 11:12] BasitEllahi commented on #107
[carrouseel.js.zip](https://github.com/sag1v/react-elastic-carousel/files/5530172/carrouseel.js.zip)

[2020-11-12 11:13] BasitEllahi commented on #107
Here's a the component where i implemented the react elastic carrousel

[2020-11-12 11:15] BasitEllahi commented on #107
in package.json using this version  "react-elastic-carousel": "^0.7.5"

[2020-11-12 11:22] sag1v commented on #107
Can you check it with latest version (0.9.4)?

[2020-11-12 11:34] BasitEllahi commented on #107
yes i updated now, but its stil has the same issue

[2020-11-12 12:42] sag1v commented on #107
Its probably related to a SSR issue with the component. I will try to reproduce it locally and tackle it.
Did you use a gatsby starter repo?

[2020-11-13 08:58] sag1v commented on #107
Hi @Ananthakrishnanj & @BasitEllahi I think i solved it.
Can you install version `0.9.5-beta.1` and check it it works as expected?

Just do
[code]
 or
[code]

I want to be sure it works for you before i merge to master.

[2020-11-13 10:10] BasitEllahi commented on #107
Hi, thanks, its working now. i dont have any issue's with the infinty reloading. i did it with
yarn add react-elastic-carousel@next

[2020-11-13 11:01] sag1v commented on #107
Great! Lets wait for @Ananthakrishnanj to confirm everything is good from his/her side and i will merge this to master and publish for latest version (so you won't need to use beta version)

[2020-11-15 06:57] anns-seera opened #109 "RTL scrolling issue"
**Describe the bug**
When scrolling/swipping on RTL carousel the item first go left and then right. this is strange.

I am using react-elastic-carousel **version 0.9.3**

[2020-11-15 08:24] sag1v commented on #109
Thanks @anns-seera .
It only happens with swipe not when using the buttons right?
I think its a bug from a recent change i made to the swiping mechanism. I will fix it soon.

[2020-11-15 08:44] sag1v commented on #109
@anns-seera Can you test this version please? `0.9.5-beta.2`.
When you confirm this is fixed i will merge to master and publish it.

[2020-11-15 08:46] anns-seera commented on #109
Sure, i'm checking.

[2020-11-15 09:01] anns-seera commented on #109
Its working fine now.

[2020-11-15 09:14] sag1v commented on #109
Fixed as of version `0.9.5`

Thanks for the catch!

[2020-11-15 09:14] #109 closed

[2020-11-15 09:14] sag1v commented on #107
Fixed as of version `0.9.5`.

Thanks for the catch!

[2020-11-15 09:14] #107 closed

[2020-11-17 09:10] CannelleRb commented on #102
well... I needed empty slots... I'm going to submit a PR to add a "showEmptySlots" parameter :(

[2020-11-17 09:32] CannelleRb commented on #102
-> #114

[2020-11-17 09:32] CannelleRb commented on #103
-> #114

[2020-11-18 01:50] roidersp opened #115 "Breakpoints on vertical mode"
**Is your feature request related to a problem? Please describe.**
I need show as items as posible on container in vertical mode

**Describe the solution you'd like**
add height support on breakpoints

`this.breakPoints = [
        { height: 1, itemsToShow: 1 },
        { height: 550, itemsToShow: 2, itemsToScroll: 2, pagination: false },
        { height: 850, itemsToShow: 3 },
        { height:

[2020-11-18 09:20] chris2fr opened #116 "Improved Arrow Templating"
**Is your feature request related to a problem? Please describe.**

I would like to better template my arrow rendering.

**Describe the solution you'd like**

`arrowLabels={{"left":"Prev","right":"Next","up":"fa-icon-up-arrow";"down":"fa-icon-down-arrow"}}`
`customExtraClassNames={{"rec-arrow-left":"my-arrow-left",...rest}}

Not exactly sytnaxally correct, but you get the idea.

**Describe alterna

[2020-11-18 09:42] chris2fr opened #117 "Mouse Drag Shows as if Depressed Mouse Click with <a style={{"display":"block"}}"
**Describe the bug**

When I mouse-scroll with a `<Link style={{"display":"block"}} ` around the item div, I seem to be stuck with a mouse-down event without the mouse-up and the mouse-scroll works, but locks me it.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://alpha.mann.fr/ or https://codesandbox.io/s/gallant-bush-96xqw?file=/src/App.js
2. Click on any item
3. Scroll left

[2020-11-18 09:47] chris2fr opened #118 "Improved Pagination Configuration - Dot Per Item/Slide Instead of Per Page"
**Is your feature request related to a problem? Please describe.**

I would like the dots of pagination not to reflect the pages, but rather the focused slides themselves.

**Describe the solution you'd like**

paginationPerSlide={false} or {true}

**Describe alternatives you've considered**

renderPagination, but that doesn't work. I am not sure I have all the information available.

**Additional

[2020-11-18 16:22] sag1v commented on #118
@chris2fr Thanks.
Well, pagination as the name suggests, is about displaying a bulk of items.
What you need here is a duplicate list of all items that renders some buttons, so basically you can just loop over your items and create elements that have an `onClick` handler that triggers the [goTo](https://sag1v.github.io/react-elastic-carousel/goTo) method.

For example:
[code]

Here is a sandbox exa

[2020-11-18 16:33] sag1v commented on #117
@chris2fr thanks.
You mean that the image or link is dragged instead of the carousel sliding?
If so, this is a default behaviour of the browser when it comes to links and images (or any draggable elements). I suggests adding The `draggable="false"` to the image/link to prevent the drag effect.
I tried it with your sandbox example and it seems to do the trick.

[2020-11-18 16:35] sag1v commented on #116
@chris2fr Not sure i understand what you need. You can render anything you want as an arrow, or override the provided arrows with the css selectors.

[2020-11-18 16:38] sag1v commented on #115
@roidersp Thanks.
Any suggested solution? a PR is always welcome! :)

[2020-11-18 20:47] chris2fr commented on #117
Yes draggable="false"
THANK YOU SO MUCH

[2020-11-18 20:48] chris2fr commented on #117
Update to the documentation maybe. Shall I?

[2020-11-18 20:59] chris2fr commented on #118
THANK YOU SO MUCH
You are able to clear up in this code how to work with refs between elements on a react page, but I wonder if it works in Gatsby.
TBC
I would just make one change. The number of items on the slide paginator would be n - carousel.itemsToShow or there may be some outer-rectangle around the inner-dots.

[2020-11-18 21:02] sag1v commented on #117
Well its not really related to this library in specific, its just how HTML works and implemented in browsers.

[2020-11-18 21:06] sag1v commented on #118
Gatsby should work the same for refs AFAIK.
As for the calculation, why do you want to reduce the itemsToShow?

[2020-11-18 22:10] chris2fr commented on #118
With 3 itemsToShow and 10 slides, I can only go to position 7.
Here is what I think is the way to go:

https://codesandbox.io/s/react-elastic-carousel-forked-5hziq?file=/src/index.js

[2020-11-18 23:14] sag1v commented on #118
Well if that works for you then great 🙂

[2020-11-19 08:58] sag1v commented on #118
So can we close this one?

[2020-11-19 08:58] sag1v commented on #117
Can we close this one?

[2020-11-20 15:25] chris2fr opened #119 "Remove Styled Components Dependency"
**Is your feature request related to a problem? Please describe.**

I would like to understand where the styles come from.

**Describe the solution you'd like**

I would like move the styled-components styles to the stylesheets, please.

**Describe alternatives you've considered**

Forking maybe, but that would be a little silly for such a small thing.

**Additional context**

Do we need styled-co

[2020-11-20 17:34] sag1v commented on #119
Hi, the styles are applied via styled-components, if you want to override styling you can use the [public class names](https://sag1v.github.io/react-elastic-carousel/#styling)

[2020-11-20 17:34] #118 closed

[2020-11-20 17:35] #117 closed

[2020-11-22 18:00] Luisdv93 opened #120 "Animation type"
**Is your feature request related to a problem? Please describe.**
I read the docs but I couldn't find an option to define the animation type, I really like this library but it seems to be missing a way to define one besides sliding, for example a fade in and out.

**Describe the solution you'd like**
`
<Carousel itemsToShow={1} animationType="fade"></Carousel>`

[2020-11-23 07:51] sag1v commented on #120
@Luisdv93 Thanks. So you say a fade animation instead of sliding, so how will the items change places?

[2020-11-23 21:37] claytron5000 opened #121 "Add padding above the items"
**Is your feature request related to a problem? Please describe.**
I'd like to add a coloured background behind the slides, but not the arrows, and have colored space above each slide. I can add the background to the `.rec-slider-container`. However, because the `.rec-carousel` element has inlined height, adding vertical padding pushes the slides downward.

Requested display:
![image](https://user

[2020-11-24 00:23] Luisdv93 commented on #120
@sag1v Bear in my mind I haven't looked too deep into it, but from what I saw the library works by calculating a total width of the Carousel by summing the width of the childrens right? I didn't check the source code so I could be wrong. In a fade animation the items would change places by lowering the opacity of the current item to 0 and next one to 1.

[2020-11-24 06:54] sag1v commented on #120
Opacity alone won't make them change places so i guess its not instead of sliding but in addition right?

[2020-11-24 07:19] sag1v commented on #121
@claytron5000 Thanks.
In addition to the background that you add to `.rec.rec-slider-container` you can pass the [itemPadding](https://sag1v.github.io/react-elastic-carousel/itemPadding) prop.

So you css might look something like:

[code]

And jsx:

[code]

[2020-11-24 13:15] Luisdv93 commented on #120
Yes, sliding could be the default behaviour and the fade could be another type of animation for it. You can see an example of how it looks here: https://learus.github.io/react-material-ui-carousel/

[2020-11-24 13:53] claytron5000 commented on #121
I totally missed that property, thanks!

[2020-11-24 13:53] #121 closed

[2020-11-25 11:36] ChildishhAlbino opened #122 "Slider doesn't reconfigure when browser window is resized."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a Carousel with 3 items that shows n items
2. shrink the browser window to a point where you show less than n items
3. advance the list one stage
4. fullscreen the browser window

**Expected behaviour**
The slider should responsively update to match the content.

*

[2020-11-25 12:49] sag1v commented on #122
Hi thanks.
What version are you using?

[2020-11-25 13:01] ChildishhAlbino commented on #122
latest

[2020-11-30 16:23] sag1v commented on #122
Are you using breakpoints? Can you create a small sandbox example please?

[2020-11-30 16:26] #119 closed

[2020-11-30 16:27] #116 closed

[2020-11-30 16:44] sag1v commented on #103
resolved with #123

[2020-11-30 16:44] #103 closed

[2020-11-30 16:51] sag1v commented on #120
Interesting, my initial thought is that i would like to support any kind of animation provided by the consumer, so we wont need to implement animations per request. Like if one wants `transform:scale()` or fade in/out or whatever people will need in the future.
But this is tricky, we will need to allow the consumer to hook into the before change event, but also we will need to wait until the anima

[2020-11-30 22:05] tomaszzmudzinski opened #124 "Pagination dots are ellipses instead of circles on iPhone device"
**Describe the bug**
Carousel pagination dots are ellipses instead of circles on iPhone devices.

**To Reproduce**
My colleague checked this on his iPhone 12 Max and I see the same on the iPhone emulator in Xcode. This problem exists even on official examples: https://sag1v.github.io/react-elastic-carousel/

**Expected behavior**
Dots should be always circles, not ellipses.

**Sandbox link**
Sandb

[2020-12-01 07:32] ChildishhAlbino commented on #122
Yes, I'm using breakpoints. Not familiar with code sandbox and a little busy at the moment so will get back to it. If you can try to resolve it without one that would be helpful. Won't have time before the weekend-ish.

[2020-12-03 06:45] sag1v commented on #124
Thanks @tomaszzmudzinski . I don't have an iPhone, i did check in safari (macbook) and there was no issue.
Not sure i know about a goos simulator for iPhone, how can i test this with xcode?
Is there a way for you to inspect and change CSS to test something?

I think the problem is that the elements needs:

[code]

Not sure if both are required or only one of them. But i can't test this currently.

[2020-12-03 12:55] tomaszzmudzinski commented on #124
@sag1v could you tell me how to add those styles into proper element? I will check it on iphone simulator (on xCode) and real device and will tell you which line fix issue.

[2020-12-03 13:13] sag1v commented on #124
@tomaszzmudzinski Great thanks!
Can you check if it works with `box-sizing: border-box` **instead** of padding?

[2020-12-03 13:16] tomaszzmudzinski commented on #124
@sag1v 'box-sizing: border-box' didn't fix thise problem, only padding: 0;

[2020-12-03 13:19] sag1v commented on #124
Ok thanks. I will add it to the source code.

[2020-12-07 09:32] #124 closed

[2020-12-07 09:44] tomaszzmudzinski opened #127 "Sensivity of pagination for mobile devices"
**Is your feature request related to a problem? Please describe.**
I am wondering is it possible to slightly change the sensivity for changing pagination page on mobile devices? For me it should be a bit easier to change to the other page.

**Describe the solution you'd like**
The are two ways - give users way to change boundaries for page change or fix that in main library.

[2020-12-07 10:05] sag1v commented on #127
Hi, what do you mean?

[2020-12-07 12:06] tomaszzmudzinski commented on #127
@sag1v Hmm... how to explain this - now it's little bit hard to swipe between pages on mobile devices (you need to be really accurate to do this). Take a look on phone how your carousel works and how carousel swiping works on https://resume.io.
You will notice the difference ;)

[2020-12-07 12:43] sag1v commented on #127
Interesting, I actually find it harder to swipe in that website you attached. It doesn't always pick up my swipe gestures.
I'm using galaxy S8+ with chrome.

Not sure exactly what problems you are facing, what do you mean by "you need to be really accurate to do this..."?

[2020-12-07 12:48] sag1v commented on #122
@ChildishhAlbino Can you test if it fixed with the `@next` version?
You can install `react-elastic-carousel@next`

[2020-12-07 12:50] ChildishhAlbino commented on #122
Sure thing @sag1v. Will give it a try tomorrow after work and get back to you :D

[2020-12-08 08:16] ChildishhAlbino commented on #122
The issue seems to be resolved :D I am experiencing one follow up an issue I'm not sure is related. The pagination dots at the bottom are not always correct.

e.g. I have 4 items in the list and showing 2 per page (incrementing 1 item per click) that should be 3 pagination dots I believe. Not a major issue but still minor inconsistency. Happy to raise a separate issue for it.

[2020-12-08 08:57] sag1v commented on #122
Hi, Why 3 pages? If you got 4 items and showing 2 per page, that means 2 pages.

[2020-12-08 09:23] ChildishhAlbino commented on #122
Because for me, a page is how many unique sets of items I show.
For example:

Starting state is Item 1 and 2.
I click next once, now I see Item 2 and 3.
I click next once more, this is Item 3 and 4.

For me, that is three pages, not a major issue but just seems very inconsistent. Just thought I would ensure that is expected behaviour.

[2020-12-08 09:37] ChildishhAlbino opened #128 "Pagination Dots Disappear when resizing window."
**Describe the bug**
When resizing the window over a breakpoint, if the selected carousel page is greater than the number of total pages after the carousel resizes, the carousel displays empty pagination dots until you press the arrows.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a carousel with 4 items showing 1 items at a given width, and 2 or more items at a width greater than

[2020-12-08 09:38] ChildishhAlbino commented on #122
Not a major issue so happy for you to close this issue!

[2020-12-08 09:57] ChildishhAlbino opened #129 "Make arrow disable params available from Carousel Reference."
**Is your feature request related to a problem? Please describe.**
Looking to build my own navigation component to fit in with my design but frustrated I cannot leverage the `disableOnEnd` functionality through current means.

**Describe the solution you'd like**
Through the Carousel Reference, having access to a property that would say whether or not a particular arrow was disabled or not so I co

[2020-12-08 10:24] sag1v commented on #122
Yeah i understand what you saying, but with this logic and case that means number of pages will always be number of items - 1.

For 4 items we will have 3 pages
for 10 items we will have 9 pages
for 100 items we will have 99 pages.

I think this defeats the purpose of paging.

If you feel we need to revisit this idea feel free to open a separate issue and we will discuss there :)

I will close thi

[2020-12-08 10:27] sag1v commented on #129
Hi, doesn't [renderArrow](https://sag1v.github.io/react-elastic-carousel/renderArrow) prop solve this issue for you? The docs example uses the `isEdge` parameter

[2020-12-08 10:53] ChildishhAlbino commented on #129
Hey.

This would work if I had complete control over the positioning and styling, but I want my arrows to be rendered completely outside of the function.
Would be good if I could just say `ref.prevDisabled()` or `ref.nextDisabled()` and have them return booleans for if that arrow should be disabled or not.

Again not a super high priority just a request if it's not majorly difficult.

[2020-12-08 11:53] ChildishhAlbino opened #130 "Carousel items render in odd fashion when Gatsby App is compiled."
**Describe the bug**
When running with `Gatsby develop` everything works reasonably well, however, when the site is built and run with `gatsby serve` or on Netlify, the carousel slider component renders small for the first frame or so and then adjusts. Unsure how to solve this.

Check it out at: https://emily-kardum.netlify.app/

**To Reproduce**
Steps to reproduce the behavior:
1. clone Childishh

[2020-12-09 10:31] naren0021 opened #131 "Items Does not update dynamically when adding"
I am trying to create a slider dynamically, I am getting the updated array in the react component but the slider doesn't re-render and show the items. I want to show itemsToShow = 5
[Check Link Video](https://www.awesomescreenshot.com/video/2009160?key=c33bdf02194a0c84826243a920f8fff7)

sample Code

[code]

[2020-12-09 20:54] sag1v commented on #131
Hi @naren0021 Thanks. Can you try install a beta version and try it?

Try installing `react-elastic-carousel@next`

[2020-12-09 20:56] sag1v commented on #130
Thanks @ChildishhAlbino. I'm not sure why this happens, my guess its related to server side rendering and probably `styled-components`.
I will need to investigate this one.

[2020-12-09 21:00] sag1v commented on #129
Yeah currently there is no idiomatic way to get this info outside the carousel context.
I usually against ref abusing, i will try to think of an alternative.

[2020-12-09 21:06] sag1v commented on #128
Hi @ChildishhAlbino Can you check this issue after installing `react-elastic-carousel@next`?

[2020-12-09 22:47] ChildishhAlbino commented on #128
Sure thing. Will do after work.

[2020-12-09 22:48] ChildishhAlbino commented on #130
No worries. Let me know if you need any more info from me.

[2020-12-10 04:24] naren0021 commented on #131
after using the beta version I am still facing the same issue

[2020-12-10 06:44] sag1v commented on #131
Strange, it seems to work fine in [this example](https://codesandbox.io/s/react-elastic-carousel-forked-vv9r1?file=/src/index.js).

Make sure you got the version `0.10.0-beta.1`

[2020-12-10 14:12] ChildishhAlbino commented on #128
Tested and resolved :D

[2020-12-10 15:26] sag1v commented on #128
Great. Im keeping it open until i merge it to master and publish it as latest release.

[2020-12-11 07:40] naren0021 commented on #131
Thanks Man!! Really appreciated it works using the beta version.

[2020-12-17 22:07] #122 closed

[2020-12-17 22:19] sag1v commented on #128
available as of version v `0.10.0`

[2020-12-17 22:19] #128 closed

[2020-12-17 22:19] sag1v commented on #131
available as of version v `0.10.0`

[2020-12-17 22:19] #131 closed

[2020-12-17 22:19] sag1v commented on #124
available as of version v `0.10.0`

[2020-12-17 22:20] sag1v commented on #122
available as of version v `0.10.0`

[2020-12-18 03:48] naren0021 commented on #131
Thanks brother

[2020-12-21 08:08] behnamazimi opened #137 "Stop auto play on hover"
I need to stop auto-playing on the mouse hover. Is there any solution for this?

[2020-12-22 05:05] ChildishhAlbino commented on #130
Hey mate! Happy holiday!

Think I found the cause of this one. Needed to install `gatsby-plugin-styled-components` and add it to my config. Works a treat now.

[2020-12-22 06:34] sag1v commented on #130
That's great! Thank you 🙂

[2020-12-22 06:34] #130 closed

[2020-12-22 09:19] sag1v commented on #137
Hi @behnamazimi
You can handle that state for yourself.

Something like this:

[code]

[2020-12-22 12:09] sag1v commented on #137
I'm closing this. Feel free to reopen if you think the solution is not sufficient

[2020-12-22 12:09] #137 closed

[2020-12-29 21:47] prradd opened #138 "isRTL in TypeScript"
**Describe the bug**
isRTL is not working (or work with worning) on TypeScript

**To Reproduce**
When adding <Carousel isRTL={true}>
I get TypeScript error:

[code]

[2021-01-04 05:56] Fahad67 opened #139 "Border on focus Item."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I have notice that when click on a item there is a black border or outline appear outside item and orange on mobile phone device. I have tried different ways to remove but nothing work for me. So, Kindly can you provide additional prop or a

[2021-01-05 18:08] MrNossiom opened #140 "Peer Dependencies problem with React v17.0.1"
**Describe the bug**
You got a peer dependencies error with react when using v17.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. Create a React project using CRA anything like that...
2. Install react-elastic-carousel using npm
3. See peer dependencies error

**To Fix**
Upgrade peer dependencies to React and React-DOM v17.0.1

|Software|Version|
|-|-|
|OS|Win10 with WSL2|
|NodeJS|v15.5.0

[2021-01-08 08:18] sag1v commented on #139
@Fahad67
This outline is browser's default, its up to you to decide how to customize and style the elements.
As for your solution, you are basically styling your own element.

[code]

Is basically targeting your own `div` and not the carousel, `.rec-item-wrapper` is the wrapper element around the element you passed to the carousel.

[2021-01-08 08:37] #140 closed

[2021-01-08 08:46] sag1v commented on #138
@prradd Thanks. fixed as of version `0.11.0`

[2021-01-08 08:46] #138 closed

[2021-01-08 08:46] sag1v commented on #140
@MrNossiom Thanks. fixed as of version `0.11.0`

[2021-01-08 11:28] MrNossiom commented on #140
Thanks

[2021-01-11 22:36] Luisdv93 opened #144 "Breakpoints not working correctly"
**Describe the bug**
I'm using the breakpoints to set how many items to show like this:
`breakPoints={[
        { width: 1, itemsToShow: 1, itemsToScroll: 1 },
        { width: 1100, itemsToShow: 2, itemsToScroll: 1 }
      ]}`

The breakpoints seem to work at different widths that the ones I set it to, even when I checked the documentation the [breakpoints example](https://sag1v.github.io/react-e

[2021-01-12 00:30] sag1v commented on #144
Hi @Luisdv93 thanks.
The width being watch is not the window but the wrapping element.

[2021-01-17 23:37] matheusgprlima commented on #144
I had the same issue and @sag1v if you set any width the breakpoints doesn't change

[2021-01-18 05:31] sag1v commented on #144
@matheusgprlima an example would help

[2021-01-18 13:43] matheusgprlima commented on #144
**Describe the bug**
@sag1v I'm using the breakpoints to set how many items to show like this:
breakPoints={[{ width: 500, itemsToShow: 1, itemsToScroll: 1 } ]}
![breakpoint_code_example](https://user-images.githubusercontent.com/43975665/104920350-66c2fd80-5976-11eb-9923-27be9bec1378.PNG)
The breakpoints doesn't seem to work as expected. If I set a breakpoint's width to 500px they will work but w

[2021-01-18 13:57] sag1v commented on #144
@matheusgprlima You are missing a breakpoint for `1`.

The breakpoints are working from the number you provide and upwards. Meaning you provided a breakpoint for `500` and above, but not below

[2021-01-18 14:07] matheusgprlima commented on #144
@sag1v Thanks for the wuick response. I've just tried this:
![breakpoint_test](https://user-images.githubusercontent.com/43975665/104925155-36cb2880-597d-11eb-9c0f-611048d66576.PNG)
and got the same result:
![BreakPoint_Error](https://user-images.githubusercontent.com/43975665/104925189-434f8100-597d-11eb-8928-0c9aa87c05d2.png)
Isn't changing

[2021-01-18 14:16] sag1v commented on #144
The second breakpoint is set to 1240. Is your container larger than 1240?

[2021-01-18 14:17] sag1v commented on #144
Your second breakpoint is set to 1240.
When the container will be larger you will get 4 items

[2021-01-18 14:52] matheusgprlima commented on #144
@sag1v thanks a lot dude, great support! I've understood now and now its all set correctly

[2021-01-20 09:42] sag1v commented on #144
I'm closing this. If you still think there is an issue, feel free to reopen

[2021-01-20 09:42] #144 closed

[2021-01-20 09:43] sag1v commented on #139
I'm closing this. If you still think there is an issue, feel free to reopen

[2021-01-20 09:43] #139 closed

[2021-01-26 19:13] RundaScath opened #146 "outerSpacing option causes - Error: Minified React error #185;"
When trying to change the default value of the `outerSpacing` option a react error https://reactjs.org/docs/error-decoder.html/?invariant=185 is triggered.  It does not matter what number you change it to.  If it is not 0 the error appears.  You can even see it in your examples section https://sag1v.github.io/react-elastic-carousel/outerSpacing

[2021-01-27 02:13] allan-glasier opened #147 "Issue with text bunching up on left side of screen on page load"
I'm not sure if this is a bug or I'm just not setting this up right.

I'm using this with Gatsby and when I load a page for a second the text in the carousel is bunched up on the left side of the screen and then goes to the middle of the screen and runs as it should.

Any guidance on how I can prevent this from happening when the page is loaded is greatly appreciated.

This is what it looks like w

[2021-01-27 21:30] nate456789 opened #148 "Spacing when scroll buttons hide"
I must be missing something on configuring the carousel. When I get to the beginning of the list and the arrow left button hides there is still a gap the width of the button. I would think the first card would align to the left when the button is not visible.
Is there a way to fix this?
Thanks

<img width="1218" alt="carousel gap" src="https://user-images.githubusercontent.com/5215840/106056522-c6

[2021-01-28 09:40] sag1v commented on #147
Hi @allan-glasier Try this solution
https://github.com/sag1v/react-elastic-carousel/issues/130#issuecomment-749340515

[2021-01-28 09:44] sag1v commented on #148
@nate456789 How is your config looks like, what do you use to hide the button?

[2021-01-28 14:51] allan-glasier commented on #147
That did it! Thank you so much!

[2021-01-28 14:51] #147 closed

[2021-01-28 15:29] nate456789 commented on #148
I took everything from the example code in your docs to hide the disabled buttons.
Is there a better way to do it?
Thanks

`/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
    background-color: #ffffff;
}`

[carousel.txt](https://github.com/sag1v/react-elastic-carousel/files/5888285/carousel.txt)

[2021-01-28 17:39] sag1v commented on #148
Got it. Well thats how css works, visibility:hidden will keep that space. You can use display:none if you dont want to keep the space

[2021-01-29 00:45] nate456789 commented on #148
Thank you that worked.
I appreciate the fast response.

[2021-01-29 00:45] #148 closed

[2021-01-29 08:48] sag1v commented on #146
@RundaScath Thanks. I will check it out

[2021-01-29 10:23] #146 closed

[2021-01-29 10:33] sag1v commented on #146
@RundaScath Fixed as of version `0.11.1`

[2021-02-01 13:52] JudeTejada opened #150 "How can I add outerSpacing manually in my css?"
**Describe the bug**
For some reason the outerSpacing isn't working on my nextjs app, and surprisngly I tried it on a fresh nextjs in codesandbox it works well . The main concern is that when I add outerSpacing it crashes my whole app and I'm finding another way to add outerSpacing using manual css

**To Reproduce**
I have no exact idea on how to reproduce the error but If i try to add outerSpacin

[2021-02-01 17:42] sag1v commented on #150
Hi @JudeTejada This is fixed in latest version.

See #146 for more info
https://github.com/sag1v/react-elastic-carousel/issues/146

[2021-02-02 05:13] JudeTejada commented on #150
Thanks!

[2021-02-02 05:13] #150 closed

[2021-02-02 10:13] JudeTejada opened #151 "Items going the edge of the screen"
**Is your feature request related to a problem? Please describe.**
Is it possible that when navigating through      items in the next/back button the items would exceed from the page, as currently when navigating through the content it only exceeds from the slider container itself and I was trying to recreate where the items would overexceed from the page when navigating

Sort of like goes around

[2021-02-02 12:48] sag1v commented on #151
You can achieve this with some CSS.
Something like:

[code]

[2021-02-03 11:31] JudeTejada commented on #151
Thanks that resolve the issue But with regards to the items overexceeding from the page and not the container, is it possible?
Currently status when navigating
![image](https://user-images.githubusercontent.com/29864561/106741028-23df7600-6656-11eb-9a88-5ef704de4ef5.png)

What it should be when navigating
![image](https://user-images.githubusercontent.com/29864561/106741252-699c3e80-6656-11eb-8b89

[2021-02-03 13:10] sag1v commented on #151
Sorry buy im not sure i understand what exactly you are trying to achieve

[2021-02-03 13:34] JudeTejada commented on #151
Hey, pardon with that
Currently here's the status of my carousel,
![2021-02-03-21-26-55](https://user-images.githubusercontent.com/29864561/106753694-f7802580-6666-11eb-878e-1a6e169aebee.gif)

 but there's one missing feature that's needed and when carousel is switching the items I wanted the carousel to overexceed outside the page when it's switching items, here''s what it should it be when I cli

[2021-02-04 03:34] sag1v commented on #151
Well you need to let the carousel get `100%` of the page `width`.
Here is an example with same CSS i posted above

https://user-images.githubusercontent.com/9153149/106841312-8b271580-66aa-11eb-98ac-afa9eb9f72e7.mov

[2021-02-04 07:30] JudeTejada commented on #151
Hey, that solved most of the issue can you post a codesandbox link on that, would greatly appreciate it thank you!

[2021-02-04 08:12] JudeTejada commented on #151
Hey I manage to resolve the issue, I guess I had set a margin on my carousel so it had prevented to overexceed from  the page,

Thank you for the help, it was truly a huge help and I appreciate it
Hope you have a great day, and by the way I love using Carousel, by far one of the best that I had found and it's also easy to customize

[2021-02-04 08:12] #151 closed

[2021-02-04 08:49] sag1v commented on #151
Glad it worked out. Thanks 🙃

[2021-02-06 20:22] alienbuild commented on #9
bump ^ :)

[2021-02-16 23:43] Bahar101 opened #152 "Feature request: implement variableWidth property"
I am using carousel slider in multi component and i need this slider to automatically display the right number of items on the screen based on the width of them (for example more than two (<3) items in the carousel) and this is very similar to variableWidth feature in react-slick for displaying, as shown in the image below:
![slider](https://user-images.githubusercontent.com/59749364/108135842-ae1

[2021-02-18 12:47] #129 closed

[2021-02-18 12:47] #120 closed

[2021-02-18 12:47] #127 closed

[2021-02-18 12:47] #115 closed

[2021-03-01 09:19] Mamasakhlisi commented on #9
Root change and give me error, TypeError: Cannot read property 'goTo' of null

[2021-03-01 16:13] Besuf opened #153 "full screen carousel"
I can't make the carousel full screen there's a slight margin on left and right. i.e I cant have 100vw carousel I rather get 98vw carousel or something like that. the behavior is the same in your code sandbox examples as well. can you describe the reason and how to handle this issue. wonderful library bye the way. Thanks!

[2021-03-02 12:56] pgksunilkumar opened #154 "Warning: Prop `className` did not match."
I am getting this error please help me on that

react-dom.development.js?61bb:88 Warning: Prop `className` did not match. Server: "rec rec-carousel-item rec-carousel-item-1 rec-carousel-item-hidden rec-carousel-item-next" Client: "rec rec-carousel-item rec-carousel-item-1 rec-carousel-item-visible"
    in div (created by Track)
    in div (created by Swipeable)
    in Swipeable (created by Track)

[2021-03-02 18:55] sag1v commented on #153
Hi, the only margin that react-elastic-carousel has is coming from the `rec-slider-container` element.

So you can just have this rule in your page and it should be ok:

[code]

Also note that `body` has a default `8px` margin by default (at least in chrome).
Also note that in the codesandbox example the `Item` component has margin as well, but obviously its not related to the library.

[2021-03-03 06:47] pgksunilkumar commented on #154
due to page load media queries are not updated after using useEffect and useState its working fine thanks

[2021-03-03 06:47] #154 closed

[2021-03-03 10:55] JudeTejada opened #155 "Show the items that not on fixed amount value"
Is it possible that the items that are being shown  on the carousel isn't fixed to  a number that was set?
Currently the way that the carousel  is set up on how many items are being shown is with using this particular code `itemsToShow: 6`

What happens afterward is that if we don't set any itemsToShow, it will just render all the items not set to the amount that the carousel will only show

This

[2021-03-03 12:15] Besuf commented on #153
Thanks for the response,  the new rule solved the issue only when I have many items to show. However there's still the margin in a single item carousel. I got rid of the margin and next button on sandbox example to illustrate the issue on the image below
![Screenshot from 2021-03-03 15-10-17](https://user-images.githubusercontent.com/45813667/109804227-13112880-7c33-11eb-8e8a-5663a0d13636.png)
![S

[2021-03-03 12:54] sag1v commented on #153
As i said, make sure the `body` doesn't have its default margin. Chrome (probably other browsers) has a default margin of `8px`.

Also make sure you remove the margin of the `Item` example component, it has `15px` margin.

[2021-03-03 13:00] sag1v commented on #155
@JudeTejada Not sure i understand what you're asking here, you want the carousel to display all items?

[2021-03-03 13:03] sag1v commented on #9
Yeah, well this year was brutal for me (time wise) and i didn't have much time to work on that feature as i thought i would.
When i had time, I preferred to invest it on critical bugs an issues.

Gonna try free some time this month

[2021-03-03 13:20] Besuf commented on #153
I removed the items margin and also made the body margin 0. you can try it yourself, if you don't believe me. the margin occurs when I try to display single item carousel. no margin appears for multiple items as it can be seen in the first screenshot.  That's why I sent the screenshots to avoid any misunderstanding.
Here's the fork for your sandbox project [https://codesandbox.io/s/react-elastic-c

[2021-03-03 13:44] JudeTejada commented on #155
Yes

Currently here's what going on

Current Implentation
![2021-03-03 21-15-55](https://user-images.githubusercontent.com/29864561/109814334-59817a00-7c69-11eb-8e80-1081bbb11a91.gif)

Mockup Implementation
If you could observe on this, when dragging the items, it creates this crop content on the  page because the items that are being shown are not set to fix
![2021-03-03 21-12-22](https://user-im

[2021-03-03 14:19] sag1v commented on #153
It got override by the styled components
![image](https://user-images.githubusercontent.com/9153149/109818678-eb728e00-7c3b-11eb-8f8f-a901ed869042.png)

A more specific rule should fix that:

[code]

![image](https://user-images.githubusercontent.com/9153149/109818819-165ce200-7c3c-11eb-9136-3bc6e23ec829.png)

[2021-03-03 14:54] sag1v commented on #155
Thanks. Can you create a [codesandbox](https://codesandbox.io/) with this example?

[2021-03-03 22:11] Besuf commented on #153
Thank you Very much this fixed the problem

[2021-03-03 22:13] #153 closed

[2021-03-04 09:39] JudeTejada commented on #155
Hey
https://codesandbox.io/s/sharp-gareth-s2gxe?file=/src/App.js

Here's a codesandbox that I created,  It has the same implementation that I had on my project except with the stylings and stuffs,

[2021-03-04 11:23] sag1v commented on #155
The sandbox is broken. I think you used a folder instead of a file for the card component

[2021-03-04 13:19] JudeTejada commented on #155
Here Please Try again
https://codesandbox.io/s/blazing-bash-374mk?file=/src/FreelanceSlider.js

[2021-03-05 07:13] tomland123 opened #156 "On Next not being called on swipe"
**Describe the bug**
On next start not being called on swipe, despite a previous issue being closed in 2018:

https://github.com/sag1v/react-elastic-carousel/issues/3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sag1v.github.io/react-elastic-carousel/onNextStart
2. Try swiping
3. No Alert

**Expected behavior**
Alert Should Happen

[2021-03-06 20:45] petya-mihovska opened #157 "Slider not updating if we change itemsToShow"
Hi, thank you for the wonderfull carousel that you have created. With the latest update, we have noticed the issue described below.

**Describe the bug**
When we change dinamically itemsToShow, the change is not reflecting immediatly.
We have to change the size of the container, so that the new value to be used.
It looks like the issue is caused by the check introduced in https://github.com/sag1v/

[2021-03-08 18:12] Ramishscrapper commented on #9
how to enable loop in react elastic carousel
does anyone know about it?

[2021-03-09 07:53] JudeTejada commented on #155
any update?

[2021-03-12 13:35] sag1v commented on #155
@JudeTejada I don't see any error, what exactly is this example trying to show?

[2021-03-12 14:17] #157 closed

[2021-03-12 14:20] sag1v commented on #156
@tomland123 That's because it not supposed to get triggered by swiping.
I think you're looking for `onNextEnd` or `onChange`

[2021-03-12 14:21] sag1v commented on #152
Can you explain in more details what exactly do you expect the Carousel to do?

[2021-03-12 20:48] sag1v commented on #157
@petya-mihovska Thanks! Fixed as of version `0.11.2`

[2021-03-12 21:50] caseyjhol commented on #120
This issue should not be closed.

[2021-03-15 10:48] NinjaInShade opened #163 "Carousel state not updating if child is added to items."
**Describe the bug**
I have the a carousel with some div's being mapped out in React. These div's are in a state, and when i added a new item to that state, the carousel doesn't update. The element is placed in as i've inspected in dev tools, but the spacing isn't being updated and still acts like there were the same amount of elements as before. If there is nothing in state to start of with it wo

[2021-03-15 11:24] sag1v commented on #163
Can you share how you update that state? I tried it and it works fine

[2021-03-15 12:19] NinjaInShade commented on #163
[code]
            Then currentCollection is just a local state to that component, which is set with this useEffect :
[code]

  So on the component load, it finds the exact collection based on a collectionId prop that is passed down. The collection's are saved in a global Context

[2021-03-15 12:23] NinjaInShade commented on #163
This is another instance of where i use the carousel, which directly loads the items from the auth state:

[code]

[2021-03-15 13:15] sag1v commented on #163
Thanks!
Well, I tried it and it seems fine

https://user-images.githubusercontent.com/9153149/111158799-2318f880-85a1-11eb-9f7d-97fd68696485.mov

---

You can try it yourself
https://codesandbox.io/s/react-elastic-carousel-forked-718w4?file=/src/index.js

[2021-03-15 13:35] NinjaInShade commented on #163
It must be with my code then. I'll look at it later, but it might have to do with the items being rendered are from a card flip library. I'll get back with what i find.

[2021-03-18 05:30] pixldeepak opened #164 "React-elastic-carousel only functional after resizing window"
I've just started using the react-elastic-carousel package and am running into an issue on page load. Everything loads up on page load/refresh, but when I click the arrow to move the carousel, the items aren't rotating. Only upon resizing the window do the products re-format correctly, and then I can continue to use the buttons normally from then on. I am attaching the link here. [https://stackove

[2021-03-18 08:21] sag1v commented on #164
Are you doing server side rendering? E.g gatsby or similar?

[2021-03-18 11:26] Zn4rK commented on #119
As much as I love `styled-components` I love `@emotion/styled` more, and I don't want both.

I think it might be a good idea to re-evaluate the need to apply base styles via styled-components.

[2021-03-18 11:30] pixldeepak commented on #164
Yes i am doing server side rendering

[2021-03-18 11:56] sag1v commented on #119
Yeah this decision is getting some heat 😬

The idea was to not force consumers to import or include the lib's css file.

What if we go with styled JSS, can i use it as a regular dependency and it won't conflict with the consumer's jss libraries (if present)?

https://cssinjs.org/styled-jss?v=v2.2.3

[2021-03-18 14:44] pejman1 commented on #164
I have same problem when I use concurrent mode in react and package is not compatible with concurrent mode

[2021-03-18 20:09] luvpack commented on #163
Same trouble

[2021-03-19 08:04] NinjaInShade commented on #163
I didn't manage to get it fixed but it's on my list still. Did you item width change when you resized the screen in devtools or refreshed the page? That's what was happening to me.

[2021-03-20 10:15] luvpack commented on #163
Yes, after refreshing the page everything is ok

[2021-03-22 07:09] sag1v commented on #164
Check [this comment](https://github.com/sag1v/react-elastic-carousel/issues/130#issuecomment-749340515)

TLDR;
Try using `gatsby-plugin-styled-components`

[2021-03-22 07:12] pejman1 commented on #164
How about the issue in concurrent mode. can you fix it?

[2021-03-22 07:13] sag1v commented on #163
Make sure you are not mutating the state, react won't re-render if the state gets mutated, the Carousel won't "know" that the children were changed because they got the same reference.

[2021-03-22 07:16] sag1v commented on #164
What exactly is the problem, is it related to this issue? If not, maybe its better to open a seperate issue.

[2021-03-22 09:16] pejman1 commented on #164
It is exactly same issue

[2021-03-22 10:15] sag1v commented on #164
So are you using gatsby and have you tried `gatsby-plugin-styled-components`?

[2021-03-22 10:49] pejman1 commented on #164
No, I am using react in electron. the problem is related to concurrent mode in react not server side rendering
if you enable concurrent mode you face same issue

[2021-03-22 10:49] pejman1 commented on #164
No, I am using react in electron. the problem is related to concurrent mode in react not server side rendering
if you enable concurrent mode you face same issue

[2021-03-22 13:17] sag1v commented on #164
Ok then, its not the exact same issue.
If you think its related to concurrent mode, can you open a different issue with an example in codesandbox.io ?

[2021-03-22 20:05] pejman1 commented on #164
my answer was clear, if you enable concurrent mode react - Everything loads up on page load/refresh, but when you click the arrow to move the carousel, the items aren't rotating. Only upon resizing the window do the products re-format correctly, and then you can continue to use the buttons normally from then on.

[2021-03-24 14:09] Rajdeepsingh27 opened #165 "rec-item-wrapper width coming as 0 when testing component in JSDom"
I'm trying to test some breakpoints related logic in my implementation, basically I'm checking for count of visible items when screen width is changed , but all elements wrapped in "rec-item-wrapper" are having a width of 0, when rendered in JSDom (JSDom body by default has a width of 1024px).
I picked this up from JSDom:

< div class="sc-gsTCUz tXlBS rec rec-item-wrapper" id="0" style="width: 0px

[2021-03-25 22:39] tomland123 commented on #156
Sad. I guess this is a feature only I would want. I will close!

[2021-03-25 22:39] #156 closed

[2021-03-26 23:36] eacanalg commented on #163
@sag1v Hey got a little update on this. The carrousel has got problems when starting from an empty array (having no children). In you code change useState([1]) to useState([]). Then when scrolling to second window you will keep seeing the first one.

[2021-03-27 10:19] sag1v commented on #165
Hmm I guess its a problem with JSDOM? I'm not sure how can we solve this at the Carousel side. If you have any suggestions i'm open to hear

[2021-03-27 12:13] #163 closed

[2021-03-27 12:18] sag1v commented on #163
@eacanalg Good finding! resolved as of version `0.11.3`

[2021-03-28 18:04] sag1v commented on #164
@pixldeepak I think your issue might be related to [this issue](https://github.com/sag1v/react-elastic-carousel/issues/163#issuecomment-808724065)

Try installing latest version (`0.11.3`)

Let me know if that worked out for you.

[2021-03-28 18:39] sag1v commented on #164
@pejman1 I think your issue is not related to concurrent mode at all. I guess you just had an empty array intially and then added items (like the OP had).

Here is a working example with concurrent mode
https://codesandbox.io/s/react-elastic-carousel-forked-zy43u?file=/src/index.js:406-428

[2021-03-29 08:23] pejman1 commented on #164
Thank you so much. I updated to the last version and the problem is gone.

[2021-03-30 08:36] Julienblc commented on #9
Can't wait the infinite :)

[2021-03-31 11:38] sulmanazhar2 commented on #9
What if i have custom breakpoints for responsive for example
i have these breakpoints and iteamstoshow
[code]
What will i do in this situation

[2021-03-31 11:39] sulmanazhar2 commented on #9
What if i have custom breakpoints for responsive for example
i have these breakpoints and iteamstoshow
[code]
What will i do in this situation

[2021-04-05 07:38] sag1v commented on #164
Can you reproduce this? i tried and i don't get this behavior

[2021-04-05 08:44] pejman1 commented on #164
it is in an application . I load data by pouchdb (loading data asynchronies ) and then load it in carousel but in intial load it sometimes does not show anything until I resize the window .  to solve the problem I refresh and rerender the component after 300ms

[2021-04-06 20:45] noetic-bajwa opened #171 "Add the infinite loop feature in the Official Package"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-07 03:06] liemhoanglong commented on #9
solve :)
![image](https://user-images.githubusercontent.com/43882959/113804375-9bca3980-9788-11eb-88dd-3eb093efddab.png)
![image](https://user-images.githubusercontent.com/43882959/113804405-abe21900-9788-11eb-9f94-158ceca0abb5.png)

[2021-04-07 03:43] liemhoanglong commented on #9
I do like @sag1v and it work 👍
[code]

[code]

It's work good when I click the button prev or next but when I use MOUSE SWIPE next at the last item it's go to the second item not first item (itemsToShow is 1)

[2021-04-07 18:35] noetic-bajwa commented on #33
When will you add Infinite Loop in the Official Library ?

[2021-04-07 18:36] noetic-bajwa commented on #33
Please give an Update on That

[2021-04-07 20:18] daniteohotmail opened #172 "Warning: Can't perform a React state update on an unmounted component."
When I fast change the page on my website, sometimes I get this error on browser console:

Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method. Carousel@http://localhost:3000/static/js/vendors~main.chunk.js:56014:20
div
C

[2021-04-08 18:21] deepakmalik264 commented on #164
I am also facing the same problem

[2021-04-08 19:27] sag1v commented on #172
Thanks @daniteohotmail .
Are you using `enableAutoPlay` prop?

I couldn't reproduce it but i think i know why it's happening. I released a beta version with a fix, can you please try installing version `0.11.5-beta.1` and let me know if the problem is fixed?

[2021-04-08 19:30] sag1v commented on #164
@deepakmalik264 / @pejman1 Sorry but i can't reproduce this behavior, without an example i can't figure out what's wrong and can't fix it.

BTW, is there a special reason why you render a the Carousel with no items? I would just conditionally render it only when i have the items ready, i mean the Carousel with no items is kind of pointless (from a user's perspective)

[2021-04-08 19:34] sag1v commented on #171
duplicate of #9

[2021-04-08 19:34] #171 closed

[2021-04-09 19:36] pejman1 commented on #164
I don't render it with no Item
I use suspense feedback and don't render component before data is ready. but in concurrent mode it doesn't show items sometimes before re-rendering  the component

[2021-04-09 20:00] sag1v commented on #164
Like i said, i need an example of the behavior as i can't reproduce it.

[2021-04-09 20:29] daniteohotmail commented on #172
Hi, enableAutoPlay is false.
I install the 0.11.5-beta.1 version but the problem is still happening.
Can I do any other tests to help you?

[2021-04-09 21:28] sag1v commented on #172
Hmm interesting. Well, a reproducible example can help a lot.

[2021-04-11 13:28] danielefontana95 commented on #172
Hi (I'm the same person with my new account).
I create this sandbox for reproduce it.
https://codesandbox.io/s/crimson-pine-ycu2u
Click two times the button and in console will appear the error.

[2021-04-13 19:07] sag1v commented on #172
@danielefontana95 Thanks! please try this version and let me know `0.11.5-beta.2`

[2021-04-14 18:34] danielefontana95 commented on #172
@sag1v Hi! I tested with the  `0.11.5-beta.2` version but the error still happening...

[2021-04-14 19:31] sag1v commented on #172
@danielefontana95 Sorry, i published a wrong beta version. Can you try `0.11.5-beta.3` please?

[2021-04-14 19:44] danielefontana95 commented on #172
Yesssss! It seems to be working correctly now.
Thank you, very great job!

[2021-04-14 21:10] sag1v commented on #172
@danielefontana95 Great. I published it with official release under version `0.11.5`

[2021-04-14 21:10] #172 closed

[2021-04-15 05:18] lotfire opened #176 "outerSpacing not working on mobile layout / lower resolution"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sag1v.github.io/react-elastic-carousel/outerSpacing'
2. screen resolution under around 500px (mobile or desktop)

**Expected behavior**
lateral margins should be visible on both ends

**Actual behavior**
the lower the resolution, last elements are less and l

[2021-04-15 16:56] PedroHBessa opened #177 "React App"
Hi,

my react App show me this when i try to render the carousel:

"./node_modules/react-elastic-carousel/dist/index.es.js
Module not found: Can't resolve 'styled-components' in 'C:\daotraining\daotraining\node_modules\react-elastic-carousel\dist'"

Can you help me?

thanks!!!

[2021-04-15 21:45] sag1v commented on #177
See [this issue](https://github.com/sag1v/react-elastic-carousel/issues/57#issuecomment-654638677)

[2021-04-15 21:46] #177 closed, assigned to nobody

[2021-04-17 12:12] oqnunes opened #178 "Align Items in the Center"
**How do I make all items centrally aligned?**

https://user-images.githubusercontent.com/45077154/115112647-57a41980-9f7e-11eb-894f-46710fecc108.mp4

I didn't find any issue with keywords on the subject.

Sorry if I missed something.

[2021-04-18 05:57] sag1v commented on #178
Hi @oqnunes , You need to provide your items a height. You can check out the example in the playground sandbox:

https://codesandbox.io/s/21o46mkwnr

[2021-04-20 19:06] oqnunes commented on #178
Oh yeah, it makes perfect sense!

Thanks for listening, this solved my "problem".

[2021-04-21 07:16] violinapopova opened #180 "How can I activate keyboard arrows for scrolling?"
Hello, is there a property I can use to activate the scrolling with the left and right arrows on the keyboard, and not only using the mouse for that?

[2021-04-21 09:11] SNikhill opened #181 "Missing required attribute isRTL warning"
**Describe the bug**
When the component is used, a warning stating that **isRTL** prop is required is raised by my IDE even though, the documentation as well as the code, intend the prop to remain optional.

**To Reproduce**
This Warning is raised by my IDE(WebStorm) and maybe go unnoticed by other users depending upon their linter/"checker".

**Expected behaviour**
`isRTL` is an optional prop tha

[2021-04-21 09:25] SNikhill commented on #180
@violinapopova

I am not sure about a direct property but, you could simulate a click on the left button or right button when the Left or Right Arrow key press is detected.

- [Keydown event](https://developer.mozilla.org/en-US/docs/Web/API/Document/keydown_event)

[2021-04-21 09:29] SNikhill commented on #155
@JudeTejada

I believe that the mockup wants you to make sure that the next card is partially visible, right?
![image](https://user-images.githubusercontent.com/51415616/115531024-ef24a780-a2b1-11eb-9af4-cac800eb72e1.png)

If yes, then, `itemsToShow` prop does support decimals so, instead of saying 6, you could say, `6.3` and it will work.
But, I believe, you will need to make slight adjustments t

[2021-04-21 15:36] EdsonArchela opened #183 "Can't import {consts} from 'react-elastic-carousel"
Module '"react-elastic-carousel"' has no exported member 'consts'. Did you mean to use 'import consts from "react-elastic-carousel"' instead?ts(2614)

[2021-04-23 06:35] SNikhill commented on #183
@EdsonArchela

May I please have the actual `import` statement that you wrote?

[2021-04-28 02:41] vadhe commented on #181
this is helpfully thanks

[2021-05-10 17:15] sagartmg opened #189 "auto play ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-14 10:57] jayhawk24 opened #190 "Change itemsToShow on window size"
I am trying to change itemsToShow prop on change in window size like in mobile itemsToShow=2 and on desktop itemsToShow=4.

[2021-05-14 14:54] #190 closed, assigned to nobody

[2021-05-14 14:56] jayhawk24 commented on #190
[code]

[2021-05-16 21:05] Bahar101 commented on #152
I need this slider to automatically put the required number of items on the page, based on the width of each items (and the amount of margin provided for them),especially in cases where the size of the items in a batch is not equal.
something like "variableWidth" in react-slick

[2021-05-18 20:14] heyitspieter opened #191 "Issue with text bunching up on left side of screen on page load in React"
I experience the same issue as described in issue #147 on my react app. Please is there any fix for this?

Kindly see image below:

![react-elastic-ui-bug](https://user-images.githubusercontent.com/31046215/118717715-4d479a80-b81e-11eb-8ac6-c884c2eeeb71.png)

[2021-05-26 16:14] mAAdhaTTah opened #192 "Enable providing `initialHeight`"
**Is your feature request related to a problem? Please describe.**
The `height: 0` causes significant layout shift when server-side rendered. On initial page load, the carousel is empty, then when the JavaScript kicks in, it expands it height to match the measured height, causing significant layout shift.

**Describe the solution you'd like**
A prop that controls the initial height of the carousel

[2021-06-04 08:06] #165 closed

[2021-06-15 09:01] strawberrysweet commented on #183
I also have this issue.
This is how I wrote the `import` statement `import Carousel, { consts } from 'react-elastic-carousel';`

[2021-06-16 00:15] #164 closed

[2021-06-18 15:45] surjithctly opened #196 "Swipe does not work with Image"
**Describe the bug**
When there is an image in the sider, cannot use mouse to swipe on top of Image to swipe to next slide. It just moves along with mouse.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codesandbox.io/s/mutable-breeze-yptoe?file=/pages/index.js'
2. Mouse Click on the first image. Try to mouse drag to next slide.

**Expected behavior**
It should swipe to next

[2021-06-19 10:08] patrickkabwe opened #197 "Module Not on Vercel"
Below is the error i get when i try to deploy to vercel
![Screenshot from 2021-06-19 12-07-06](https://user-images.githubusercontent.com/64147010/122638864-fcfe7980-d0f6-11eb-9729-30fcc1ccdff1.png)

[2021-06-21 07:29] #176 closed, assigned to nobody

[2021-06-27 01:05] #178 closed, assigned to nobody

[2021-06-27 12:11] #180 closed, assigned to nobody

[2021-06-27 12:11] #155 closed

[2021-06-29 06:11] djsladi opened #198 "Feature request: Pause autoplay on hover"
It would be nice to have "pauseAutoPlayOnHover" true/false -prop on settings to prevent slide to change when user are hovering on the current slide...

[2021-06-29 17:43] carlafranca commented on #196
Same issue if the item is a link (a tag) or it has a (a tag) inside a "li"

[2021-07-04 07:12] #181 closed

[2021-07-04 09:22] SNikhill commented on #198
@djsladi

If you require this functionality immediately, how about [this hack](https://codesandbox.io/s/react-elastic-carousel-forked-l2tf2) that I use.

Basically, detecting `mouseover` and `mouseout` states and disabling/enabling autoplay.

I hope it helps. :)

[2021-07-07 10:52] 3adel-bassiony commented on #197
I fixed this issue by installing styled-components
`yarn add styled-components` `npm i styled-components`

[2021-07-09 15:35] aamin21 commented on #9
Any update on this? Thank you!

[2021-07-12 09:31] ilKhr opened #199 "Does not use passive listeners to improve scrolling performance. [Lighthouse]"
Hello.
Chrome lighthouse indicates showing a warning when using your library

![image](https://user-images.githubusercontent.com/58560537/125264862-eec60680-e30c-11eb-81e5-c3c1e8646ec2.png)

[2021-07-16 22:17] #189 closed, assigned to nobody

[2021-07-20 20:26] #199 closed, assigned to nobody

[2021-07-22 23:36] #152 closed

[2021-07-24 22:33] #191 closed, assigned to nobody

[2021-07-25 23:28] mAAdhaTTah commented on #192
Not stale.

[2021-08-09 14:57] JulioKayak opened #203 "Infinite autoplay"
I want to know if there is a way to make the carousel autoplay infinitely: if it reaches the last page, it will go to the first one and vice versa.

[2021-08-17 15:26] bhr opened #205 "Carousel doesn't work when loaded inside iFrame"
**Describe the bug**
The carousel works fine when loaded inline the DOM, however, once loaded in an iframe (using react-frame-component), the carousel stops working.

**Expected behavior**
The carousel should look and behave similar to when loaded inline

**Sandbox link**
https://codesandbox.io/s/react-elastic-carousel-frame-component-g51di

**Additional context**
Happy for any pointers.

[2021-08-17 15:51] bhr commented on #205
`React-elastic-carousel` uses `styled-components`. When loading the carousel in an iframe, we need to tell the `StyleSheetManager` to render the styles in the iframe.

A working solution can be found here for anybody who stumbles across this: https://stackoverflow.com/questions/66556752/styled-components-are-not-rendering-in-react-iframe

[2021-08-17 15:51] #205 closed, assigned to nobody

[2021-08-17 19:38] mhmd-elsaid opened #206 "first item doesn't display when scroll then filter items to be lower than itemsToShow"
hello guys ,
I am using the carousel to display courses cards in my app . and I set the config :
 {
          itemsToShow: 3,
          itemsToScroll: 3,
        }
and there is a filter to filter courses displayed in the carousel
but when I scroll the carousel then filter the courses tell make it's length equal 3 or less it doesn't show the first items

[2021-08-18 13:17] #206 closed, assigned to nobody

[2021-08-21 13:16] #183 closed, assigned to nobody

[2021-08-27 19:25] aarowman commented on #140
@sag1v This is covered here, but is still an issue on `react-only-when`, which is a peer dependency here.

See https://github.com/sag1v/react-only-when/issues/2

[2021-08-27 19:30] aarowman commented on #140
Note: when could consider using `>=15.0.0` instead, and then we won't run into issues for each React version

[2021-09-04 21:58] #196 closed, assigned to nobody

[2021-09-10 02:08] #198 closed, assigned to nobody

[2021-09-12 11:57] #197 closed, assigned to nobody

[2021-09-20 12:53] mahdyabdnia opened #208 "How to style more than one carousel box in different comonents"
I created three components and use react-elastic-carousel to create 7 carousel boxes and styles of them are different together and I use functionally  component . I will use customize arrow for them . How can I create customize arrow in functionally components.
The example of this issue is in class component . how do convert it  to functionally component.

[2021-09-24 12:55] mAAdhaTTah commented on #192
Still not stale. Still happy to open a PR.

[2021-10-01 10:40] InsOpDe commented on #199
@ilKhr what was the solution?

[2021-10-01 10:53] InsOpDe opened #210 "Use react-swipeable v6"
**Is your feature request related to a problem? Please describe.**
Is related to #199 the v6 version of react-swipeable uses `passive: true`

**Describe the solution you'd like**
Update the dependency to `6.2.0`

**Describe alternatives you've considered**
Currently Im using https://github.com/zzarcon/default-passive-events to mitigate this

**Additional context**
Uses concerned with their lightho

[2021-10-10 06:37] senapahlevi opened #212 "How to modified arrow and dot"
I have been used these carousel but i getting stuck dont know how to change color from default color (purple) and also how to change the size of arrow and dots (change size into small size)

i have solution maybe add tutorial on the documentation , because its not clear i dont know how to change color background in arrow and dots slider ex: i want change color into green color not default color(pu

[2021-10-11 11:36] aks998 commented on #9
Any update on this?

[2021-10-11 11:53] lilcode-dev commented on #212
You can style it using CSS by referencing the classes it generates when rendered.

Example:
**Component Code**
[code]

**Style Code**

[code]

**Result:**

![image](https://user-images.githubusercontent.com/69090574/136785694-9df28ac2-c86b-4c8d-9ba1-9964b5aa938b.png)

[2021-10-13 09:02] senapahlevi commented on #212
hey thanks but how to change the size of dots and arrow because its to big for me

[2021-10-13 15:59] lilcode-dev commented on #212
In the example that I show you, I make that style rule change the size of the arrows, look at the font-size property:

[code]

[2021-10-13 16:03] lilcode-dev commented on #212
Example for changing point sizes:

### Style Code
[code]

### Finally

![image](https://user-images.githubusercontent.com/69090574/137170964-3b0b6728-161c-4e9e-83e6-cc572879ad53.png)

[2021-10-16 02:23] #203 closed, assigned to nobody

[2021-10-18 12:24] Pattygeek opened #213 "Cannot Install the package with yarn"
Report from yarn-error.log

Arguments:
  C:\Program Files\nodejs\node.exe C:\Program Files\nodejs\node_modules\yarn\bin\yarn.js add react-elastic-carousel

Yarn version:
  1.22.10

Node version:
  14.17.6

Platform:
  win32 x64

Trace:
  Error: UNKNOWN: unknown error, scandir 'C:\Users\DELL\Documents\hub-ui-alpha\node_modules\js-yaml\node_modules\argparse\lib'

[2021-10-19 05:51] #213 closed, assigned to nobody

[2021-10-19 15:59] senapahlevi commented on #212
hi I have followed and tried to change height and width small as possible but I have a problem that the width of the dots itself cannot be changed like a small circle and the height success to change to small size , because react-elastic-carousel defaults to a large circle
![example problem](https://user-images.githubusercontent.com/40233146/137947903-c09fd7d7-7b18-4d12-b5a9-7134193d0fe7.PNG)

my

[2021-10-20 11:06] senapahlevi opened #214 "Autoplay not infinite loop and the manual loop does not match the position"
hello I'm a newbie maybe this is a bug or my mistake. Can experts maybe help me? ,
  I tried autoplay successfully but when in the last position it didn't experience an infinite loop, and also managed to apply the loop manually it worked, while when I slide to the initial position it should jump to the last position but can be seen in the ouput in my results this is not correct, which is at the 10

[2021-10-31 20:20] IuriiSol commented on #214
Hey, I'm noob too, but I have solved my problem with setInterval, and it works perfect on my project. You can try it too.
  const Data = [];

  const getData = () => {
    users.map((user) => {
      if(user.isPromoted == true){
        Data.push(user);
      }
    })
  }
  getData();

const carouselRef = React.useRef(null);
  const onNextStart = (currentItem, nextItem) => {
    if (currentItem.in

[2021-11-09 10:49] zimmicz opened #215 "Carousel ref not passed when rendered inside react-modal"
**Describe the bug**
Ref is not passed when carousel is rendered inside [react-modal](https://www.npmjs.com/package/react-modal)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-modal-with-elastic-carousel-8hihr?file=/src/App.tsx

**Expected behavior**
I would expect ref to be defined inside `useLayoutEffect` hook.

**Sandbox link**
https://codesandbox.io/

[2021-11-26 22:08] #208 closed, assigned to nobody

[2021-11-30 15:41] InsOpDe commented on #210
bump

[2021-12-01 06:11] #192 closed, assigned to nobody

[2021-12-06 22:58] cmccarthy15 opened #216 "Improve Accessibility scores"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
One of the projects I'm working on is using react-elastic-carousel and we're working on improving out lighthouse scores and accessibility, but there is an issue with the dot buttons that we would rather get a fix to react elastic carousel t

[2021-12-07 20:58] #210 closed, assigned to nobody

[2021-12-10 18:00] ehubbell commented on #214
@IuriiSol solution worked for me however the `loop` method causes some funky behavior if you don't disable the `nextButton` on the final slide. Seems related to the `Loop' function not canceling if the user clicks next from the final slide (which should take them to the first slide).

Definitely fixable but worth noting.

[2021-12-20 06:52] tannguyencse19 commented on #214
You can do like this

[code]

[2021-12-22 15:50] rahsheen opened #220 "isRTL still marked as required in Typescript definitions"
**Describe the bug**
Typescript error is raised if `isRTL` prop is not specified.

**To Reproduce**
Try to use component without specifying a value for the `isRTL` prop

**Expected behavior**
The `isRTL` prop should be optional

**Additional context**
Looks like there were 2 PR's to fix this that were never merged and were auto-closed https://github.com/sag1v/react-elastic-carousel/pulls?q=is%3Apr

[2021-12-25 18:52] #212 closed, assigned to nobody

[2022-01-15 20:29] #215 closed, assigned to nobody

[2022-01-27 14:04] zhkvivan commented on #9
Hi @sag1v thanks for the great carousel slider! It's 2022 now and we're still waiting for infinite loop!

Thanks!

[2022-02-01 10:50] SaGaR1084 commented on #9
try this it's working for me

[code]

[2022-02-03 09:35] djsladi opened #222 "No definition for autoTabIndexVisibleItems"
**Describe the bug**
Typescript error is raised when autoTabIndexVisibleItems prop is specified.

**To Reproduce**
Try to add autoTabIndexVisibleItems prop to Carousel element

**Expected behavior**
Carousel should put tabindex=0 to any visible slides without errors

![image](https://user-images.githubusercontent.com/39775012/152316937-f39382a9-922a-4391-96fe-604ea1bfcbf8.png)

[2022-02-08 19:52] firatcanulukaya opened #223 "Functional Components and Documentation"
**Is your feature request related to a problem? Please describe.**
There is a lot missing in the documentation. And most of the documentation is written for React Component (this, bind etc.).
It would be great if it was written in a React Functional Component because the documentation is missing and I can't do the things I want.
_Example: I will add a custom button, but I cannot do it because the

[2022-02-12 07:57] #216 closed, assigned to nobody

[2022-02-22 15:59] krishna-truepill commented on #9
Hi, @sag1v  thanks for the great carousel slider! we're waiting for an infinite loop.

Thanks!

[2022-03-02 09:00] #220 closed, assigned to nobody

[2022-03-02 09:00] #214 closed, assigned to nobody

[2022-03-15 18:12] EvangelosVorgias opened #226 "Carousel items are not visible"
I recently tried to add the carousel to my website. I tried to follow the steps in the installation guide, however I got an error "unable to resolve dependency tree". To circumvent this, I used the command: npm install --save react-elastic-carousel --legacy-peer-deps. I then installed the other required library. The carousel now appears almost as intended. The buttons are there, the circles at the

[2022-03-16 16:25] Uny1me commented on #33
This is really needed, thank you

[2022-03-19 20:48] munafio commented on #226
@EvangelosVorgias I faced the same issue, but if you inspect the elements (items) you can see that the width is 0 thats why the div or the element can not be visible!
all you have to do is to set a static width or percentage for the element (item/slide) .. in my case I set the width to 100% (full) to fill the space given.

so now if you have 8 items, the space given for each item will be filled be

[2022-03-22 13:22] limamauricio commented on #183
Same erro here. Version "react-elastic-carousel": "^0.11.5"

[2022-03-22 22:24] djsladi commented on #198
Better late than never, this led me to the right solution, very big thanks! 🥇

[2022-03-23 16:17] EvangelosVorgias commented on #226
Thanks

[2022-03-23 16:17] #226 closed, assigned to nobody

[2022-04-14 15:42] #222 closed, assigned to nobody

[2022-04-19 00:17] #223 closed, assigned to nobody

[2022-04-23 14:17] FernandoRidam opened #230 "onChange Typing is incorrect"
**Describe the bug**
Typing is incorrect

onChange?: ((currentItemObject: **ItemObject**, currentPageIndex: number) => void)

export type ItemObject = {
  // Children's props
  object: any; // The method passes a property called **item** and not **object**
  index: number;
};

[2022-05-03 12:10] gian-luca-weston commented on #140
Still believe this is an issue as react-only-when@1.0.2 (which seems to be the only version) depends on react@^16.4.1 meaning this can't be used in react 17

[2022-05-19 09:30] 3adel-bassiony opened #232 "error TS2769: No overload matches this call. TS"
**Describe the bug**
I was trying to use the react-elastic-carousel and it was working well until I Updated this package to the latest version "@types/react": "^18.0.9", then I got this error:

error TS2769: No overload matches this call.
  Overload 1 of 2, '(props: ReactElasticCarouselProps | Readonly<ReactElasticCarouselProps>): ReactElasticCarousel', gave the following error.
    Type '{ childr

[2022-05-21 16:50] munafio commented on #196
@sag1v This issue still not solved yet!

[2022-05-22 15:32] nanthakumaran-s commented on #232
@3adel-bassiony getting the same
Did you get any answers about solving this bug??

[2022-05-22 15:43] 3adel-bassiony commented on #232
@nanthakumaran-s Unfortunately no, I'm still waiting for them to fix this issue.

[2022-05-24 16:22] mufaawan opened #233 "Typescript Support"
Do we have typescript supported version on it way? I have been trying to implement with Typescript, I end up getting so many errors I am not sure how to fix.

`error TS2769: No overload matches this call.
Overload 1 of 2, '(props: ReactElasticCarouselProps | Readonly): ReactElasticCarousel', gave the following error.
Type '{ children: Element[]; itemsToShow: number; itemsToScroll: number; isRTL: b

[2022-05-25 04:57] manly8835 opened #234 "focusOnSelect conflict with enableMouseSwipe"
**Describe the bug**
`focusOnSelect` and `enableMouseSwipe` both enabled . Drag on current slide to next slide is not working

**To Reproduce**
Steps to reproduce the behavior:
1. have at least 3 slides.  `focusOnSelect` and `enableMouseSwipe` both enabled
2. Drag on current slide to next slide
3. current slide still show as active slide . (Should be next slide become active slide)

**Expected beh

[2022-05-25 19:02] asheesh-hub opened #235 "Support with react 18"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-25 19:03] asheesh-hub commented on #235
This doesn't work with react 18.
peer react@"15 - 17"

[2022-05-30 14:11] gian-luca-weston commented on #235
+1 This

[2022-06-04 13:02] StefanAmEnde commented on #235
Same problem: react-elastic-carousel is not compatible with react 18. It works totally fine with --force. But this is no permanent solution.

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: react-elastic-carousel@0.11.5
npm ERR! Found: react@18.1.0
npm ERR! node_modules/react
npm ERR!   react@"^18.1.0" from the root project
npm ERR!   peer react@">=16

[2022-06-08 14:56] cleones commented on #232
Same error.

[2022-06-08 20:58] ArturNicolaiewskyPellicioli commented on #232
Same error :(

[2022-06-08 21:00] ArturNicolaiewskyPellicioli commented on #235
+1 This

[2022-06-09 16:14] Cristian-ADSI commented on #233
same problem here

[2022-06-09 16:53] Cristian-ADSI commented on #232
same error

[2022-06-11 02:44] TorsuD commented on #9
Hi @sag1v still waiting on the infinite loop.

Thanks!

[2022-06-14 13:24] Kartik-989 opened #237 "Bug in importing {consts} in typescript"
**Describe the bug**

import {consts} from 'react-elastic-carousel';
This is not working in typescript files.
I have file with .js then imoprt is working and in .tsx it gives error

Error is:
Module '"react-elastic-carousel"' has no exported member 'consts'. Did you mean to use 'import consts from "react-elastic-carousel"' instead?

**Sandbox link**
Please provide a link to a [codesandbox](https:/

[2022-06-16 12:42] thediveshsharma opened #238 "Unable to Copy Text in react-elastic-carosuel."
**Describe the bug**

Unable to copy paste text when using elastic carousel

**To Reproduce**
Steps to reproduce the behavior:
try copying text content

**Expected behavior**
text should be copied

**Sandbox link**
Please provide a link to a [codesandbox](https://codesandbox.io/) with the reproduced bug

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (pleas

[2022-06-24 12:16] lkowalczyk87 commented on #235
+1

[2022-06-28 02:41] Mayank1403 commented on #235
+1

[2022-06-28 16:27] criscar1998 commented on #9
Solution:

[code]

[2022-07-07 05:00] #230 closed, assigned to nobody

[2022-07-07 05:59] poojagirne opened #239 "On page load if we have 4 items in carousel then items in carousel shifting to right end."
On page load if we have 4 item in carousel then items in carousel shifting to right end.

[2022-07-12 13:24] itseasy21 commented on #233
I've forked a version of this and added TS/React 18 support: [https://www.npmjs.com/package/@itseasy21/react-elastic-carousel](https://www.npmjs.com/package/@itseasy21/react-elastic-carousel)
Hopefully, this helps :-)

[2022-07-12 13:24] itseasy21 commented on #235
I've forked a version of this and added TS/React 18 support: [https://www.npmjs.com/package/@itseasy21/react-elastic-carousel](https://www.npmjs.com/package/@itseasy21/react-elastic-carousel)
Hopefully, this helps :-)

[2022-07-22 11:48] jaypee-0 commented on #235
@itseasy21 Thanks for the update

[2022-08-04 08:06] amanzrx4 commented on #9
Thanks a lot @criscar1998 , worked for me!

[2022-08-05 02:14] sl1taz commented on #235
@itseasy21 Thanks my brother! You save my job ;)  🤩

[2022-08-13 02:24] itseasy21 commented on #237
I've forked a version of this and added TS/React 18 support: https://www.npmjs.com/package/@itseasy21/react-elastic-carousel

Hopefully, this helps :-)

[2022-08-16 06:45] thediveshsharma commented on #9
I did this to create a infinite loop effect (NOTE: I works only with arrow button, with auto play it stops at last slide)

// replace infinite array with your array name //
//infinite array is a state I create which store my array ( since my array comes from API)

 const carouselRef = React.useRef(null);

 const onNextStart = (currentItem, nextItem) => {
    if (currentItem.index === nextItem.inde

[2022-08-21 06:57] psuriya2020 commented on #9
Best Solution:

[code]

[code]

[2022-08-24 05:36] iskotar opened #241 "Wrong type for onChange of ReactElasticCarouselProps"
**Describe the bug**
Typescrypt error

[code]

But actually `currentItemObject` contains: `{ item, index}`

[2022-08-29 14:28] MiroKopecky commented on #237
@itseasy21 Hi, I installed your forked version 0.12.2 to my project and found a bug. When I want to swipe to the right, everything swipes to the left firstly and also otherwise. Could you please fix this ?:)
Adding working sandbox with v0.12.2: https://codesandbox.io/s/react-elastic-carousel-forked-fcr8x0?file=/src/index.js&resolutionWidth=320&resolutionHeight=675

[2022-09-12 12:09] MiroKopecky commented on #237
@itseasy21  Hi, I installed your forked version 0.12.2 to my project and found a bug. When I want to swipe to the right, everything swipes to the left firstly and also otherwise. Could you please fix this ?:)
Adding working sandbox with v0.12.2: https://codesandbox.io/s/react-elastic-carousel-forked-fcr8x0?file=/src/index.js&resolutionWidth=320&resolutionHeight=675

[2022-09-20 19:42] #234 closed, assigned to nobody

[2022-09-20 19:42] #232 closed, assigned to nobody

[2022-09-21 02:03] itseasy21 commented on #237
@MiroKopecky apologies missed the issue over here. Maybe try to set enableSwipe on breakpoint with width 1 and see if that fixes the issue?
[code]

Also, if you have another fix, happy to take a PR on https://github.com/itseasy21/react-elastic-carousel

[2022-09-21 07:54] MiroKopecky commented on #237
@itseasy21 thanks for the answer but unfortunately that didnt help. What's odd is that is works on older versions just fine (in sandbox; in my project I receive different error (some react swipeable) so I thought it would be easier to fix this package). I havent figured it out myself neither:/

[2022-09-23 10:00] chrehman commented on #9
### This solution is worked for me:

[code]

[code]

[2022-09-25 04:19] trunkey2003 opened #242 "Wrong type in RenderArrow prop document"
The example of RenderArrow prop in your docs is:
![image](https://user-images.githubusercontent.com/84451024/192128184-89ce518e-a114-4143-a7d8-25a3601b311b.png)

This didn't work correctly, because it was two types 'PREV' and 'NEXT' (in uppercase).

I hope you fix the docs soon, thank you!

[2022-09-28 01:02] #238 closed, assigned to nobody

[2022-09-28 01:02] #239 closed, assigned to nobody

[2022-09-28 01:02] #233 closed, assigned to nobody

[2022-09-29 13:45] igorovisk opened #243 "Typescript Error, but Carousel is working on browser"
I am implementing a react/typescript/windtail project and wanted to use react-elastic-carousel.
Typescript is giving me an error message about types, as you can see on the screenshots uploaded.

Current node version: 16.0

**Dependencies information:**

[code]

**Development dependencies:**
[code]

**TsConfig Information:**

[code]

**Sandbox link**
Could not reproduce on sandbox.

**Screenshots**

[2022-10-06 12:00] wexire commented on #243
Same error

[2022-10-28 12:17] SylvainGibert commented on #235
@itseasy21 thx a lot dude !

[2022-11-03 22:05] bhr opened #245 "`rec-slider` not resizing when window height changes"
**Describe the bug**
When using react-elastic-carousel with `verticalMode` enabled and resizing the window vertically, the `rec-slider` classes are not updating the `top` style. This results in the slider rendering incorrectly and showing previous or next items. The `height` on `rec-carousel` is updated correctly during resize.

Once the window width is changed, `rec-slider`'s `top` style is updat

[2022-11-03 22:28] bhr commented on #245
Is it possible this [line](https://github.com/sag1v/react-elastic-carousel/blob/6f129b51bf39b36d31375e39c66a8f0c4b669076/src/react-elastic-carousel/components/Carousel.js#L290) is preventing the carousel from updating any properties if only the window height changes?

[code]

[2022-11-12 23:27] #241 closed, assigned to nobody

[2022-11-12 23:28] #235 closed, assigned to nobody

[2022-11-16 15:14] ttc-kevin commented on #243
I got the same error, and my colleague, [@kgajera](https://github.com/kgajera), helped me come up with a quick (but hacky) solution.
We extended this component as follows:

[code]

Now you can replace your implementation of `<Carousel />` with `<CustomCarousel />` and pass the same props to it as you would with `<Carousel />`.

Hope this helps 🙏

[2022-11-16 15:21] igorovisk commented on #243
Thanks bro!

[2022-11-23 04:27] rizquuula opened #247 "is there support for react 18?"
I am interested to use this. But unfortunately, this is not supported on my project that uses react 18. Is there a workaround to make this work?

[code]

[2022-11-23 04:29] #247 closed, assigned to nobody

[2022-11-23 04:29] rizquuula commented on #247
Sorry, duplicated #235

[2022-11-29 06:25] asmath-s opened #248 "Breakpoints not working properly"
When I added some breakpoints it was not working properly.

  const breakPoints = [
    { width: 460, itemsToShow: 1 },
    { width: 767, itemsToShow: 2 },
    { width: 991, itemsToShow: 3 },
    { width: 1200, itemsToShow: 5 },
    { width: 1400, itemsToShow: 6 },
    { width: 1920, itemsToShow: 7 },
  ];

these are the breakpoints I added. all size of the screen shows 991 breakpoint items.